
* {
    box-sizing: border-box;
}

/* HTML Blog Post Heading */

.html-post-wrapper {
    padding: 20px;
    padding-right: 0;
    margin-top: 5rem;
}


.html-post-title {
    font-size: 2rem;
    color: black;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}


/* What is html? */

.html-blog-post {
    font-size: 1.4rem;
    /* padding: 0 7rem; */
    padding-right: 7rem;
    padding-left: 8rem;
    margin-bottom: 1.5rem;
    line-height: 1.5;
}

.html-blog-info {
    margin-top: 5rem;
}

.basic-html-title {
    color: black;
    font-size: 1.5rem;
    margin-left: 4.5rem;
}

.html-conclusion {
    margin-top: 1rem;
}

@media (max-width: 768px) {

    .html-blog-post {
       padding: 3rem;
    }

     .html-blog-info {
       margin-top: -3rem;
    }

   .basic-html-title {
      margin-bottom: .5rem;
   
   }
}


.html-post-img {
    margin-top: 2rem;
    margin-left: 6%;
}

.m-html-post-img {
    display: none;
}

@media(max-width:768px) {

   .html-post-img {
        display: none;
    }
    
    .m-html-post-img {
        display: block;
        margin-left: -4rem;
        margin-top: .5rem;
    }

    .m-media-post-img {
        display: block;
    }
    
}


/* Multimedia */

.html-media-title {
    color: black;
    font-size: 2rem;
    text-align: center;
    margin-top: 3rem ;
}

@media (max-width: 768px) {
    .html-media-title {
       margin-bottom: -5rem;
    }
}

.media-content-info {
    margin-top: 5rem;
    margin-bottom: 3rem;
}

.media-embed-title {
    color: black; 
    font-size: 1.5rem;
    margin-left: 4.5rem;
}

.media-list {
    margin-left: 2rem;
}

.media-list-audio {
    margin-top: -2rem;
}

.m-media-post-img {
    display: none;
}

.mobile-media-img {
    display: none;
}

.mobile-video-img {
    display: none;
}

.mobile-audio-img {
    display: none
}


@media (max-width: 768px) {
    .m-media-post-img {
       display: block;
       margin-left: -5.75rem;
    }
    .mobile-media-img {
        display: block;
        margin-left: -4rem;
 }
    .mobile-video-img {
        display: block;
        margin-left: -4rem;
    }

    .mobile-audio-img {
        display: block;
        margin-left: -4rem;
    }

    .media-embed-title {
        margin-bottom: .5rem;
    }
}



/* Buttons Blog */

.button-blog-post {
    font-size: 1.4rem;
    margin-top: 4rem;
    margin-bottom: .5rem;
    padding-left: 7rem;
    padding-right: 12rem;
    line-height: 1.5;
}

.blog-button {
    margin-left: 7rem;
}

.m-attr-img {
    display: none;
}

.m-blog-button {
    display: none;
}

.attr-img {
    margin-left: 7rem;
}

.btn-attr-title {
    font-size: 1.5rem;
    color: black;
    margin-top: 2rem;
    margin-bottom: 1rem;
    margin-left: 7rem;
}

.btn-attr {
    font-size: 1.4rem;
    line-height: 1.5;
    padding-left: 7rem;
    padding-right: 12rem;
}

@media(max-width: 768px) {

     .m-blog-button {
        display: block;
        margin-left: -1rem;
        margin-top: -4rem;
    }

    .blog-button {
        display: none;
    }

    .button-blog-post {
        width: 155%;
        margin-bottom: 5rem;
        margin-left: -6rem;
    }

    .m-attr-img {
         display: block;
         margin-left: 2rem;
         margin-top: 1rem;
    }

    .attr-img {
     display: none; 

    }

    .btn-attr {
        width: 150%;
        margin-left: -6rem;
    }
}

.input-btn-title {
    color: black;
    font-size: 1.5rem;
    margin-left: 7rem;
    margin-top: 2rem ;
    margin-bottom: 1rem;
}

.input-btn-main {
    color: black;
    font-size: 1.4rem;
    margin-right: 16rem;
    margin-left: 7rem;
    margin-bottom: 1rem;
    line-height: 1.5;
}

.input-btn-img {
    margin-left: 7rem;
}

.m-input-btn-img {
    display: none;
}

@media(max-width:768px) {

    .m-input-btn-img {
        display: block;
        margin-left: .5rem;
    }

    .input-btn-img {
        display: none;
    }

    .input-btn-main {
        font-size: 1.4rem;
        line-height: 1.5;
        width: 90%;
        margin-left: 1rem;
    }
}

.img-btn-title {
    font-size: 1.5rem;
    color: black;
    margin-left: 7rem;
    margin-top: 2rem;
    margin-bottom: .5rem;
}

.img-btn-main {
    font-size: 1.4rem;
    line-height: 1.5;
    margin-left: 7rem;
    margin-bottom: 1rem;
    padding-right: 7rem;
}

.img-btn {
    margin-left: 7rem;
}

.m-img-btn {
    display: none;
}

@media(max-width:768px) {

    .m-img-btn {
        display: block;
    }
    .img-btn-main {
        width: 110%;
        margin-left: 1rem;
    }

    .img-btn {
        display: none;
    }

}

.js-title {
    font-size: 1.5rem;
    color: black;
    margin-left: 7rem;
}


.name-attr-img {
    margin-left: 7rem;
    margin-top: 1rem;
}

.name-attr-main {
    font-size: 1.4rem;
    line-height: 1.5;
    padding-left: 7rem;
    padding-right: 5rem;
    margin-top: 1rem;
}

.m-name-attr-img {
    display: none;
}

.attr-title {
    color: black;
    font-size: 1.5rem;
    margin-top: 2rem;
    padding-left: 7rem;
    padding-right: 5rem;
}

.type-attr-title {
    font-size: 1.5rem;
    color: black;
    margin-bottom: 1rem;
}

@media(max-width: 768px) {

    .name-attr-main {
        width: 130%;
        margin-left: -6rem;
    }

    .m-name-attr-img {
        display: block;
        margin-left: -3rem;
        margin-top: 1rem;
    }

    .name-attr-img {
        display: none;
    }

    .attr-title {
        margin-left: -6rem;

    }
}


.onclick-title {
    font-size: 1.5rem;
    color: black;
    margin-top: 2rem;
    margin-left: 7rem;
}

.onclick-attr {
    font-size: 1.4rem;
    line-height: 1.5;
    margin-top: 1rem;
    margin-left: 7rem;
}

.click-attr-img {
    margin-left: 7rem;
}

.m-click-attr-img {
    display: none;
}

@media(max-width: 768px) {
    .click-attr-img {
        display: none;
    }
    .m-click-attr-img {
        display: block;
        margin-left: -3rem;
    }
    .onclick-attr {
       width: 90%;
       margin-left: 1rem;
       margin-bottom: .5rem;
    }
} 



/* Attributes Post */

.id-line {
    margin-top: 3rem;
    margin-left: 7rem;
    margin-right: 12rem;
}

@media (max-width: 768px) {
    .id-line {
        margin-top: 3rem;
        width: 100%;
        margin-left: -.5rem;
 }
}

.html-attr-intro {
    font-size: 1.4rem;
    line-height: 1.5;
    color: black;
    margin-left: 7rem;
    margin-right: 12rem;
    margin-top: 2rem;
}

.attr-post-title {
    font-size: 1.5rem;
    color: black;
    margin-top: 2rem;
    margin-bottom: -1rem;
    text-align: center;
}

.id-attr-title {
    color: black;
    font-size: 1.5rem;
    margin-left: 7rem;
    margin-bottom: 1rem;
}

.attr-main {
    font-size: 1.4rem;
    color: black;
    margin-left: 7rem;
    margin-right: 12rem;
    line-height: 1.5;

}

.attr-post-img {
    margin-left: 7rem;
    margin-top: 1rem;
}

.m-attr-img {
    display: none;
}

.m-idselector-img {
    display: none;
}

@media(max-width:768px) {

    .attr-post-title {
        margin-right: 2rem;

    }
    
    .m-attr-img {
        display: block;
    }

    .attr-post-img {
        display: none;
    }

    .html-attr-intro {
        width: 90%;
        margin-left: 1rem;
        margin-top: 2rem;
    }

    .attr-main {
        width: 90%;
        font-size: 1.2rem;
        margin-left: 1rem;
        margin-bottom: .5rem;
    }

    .attr-post-title {
        margin-left: 1rem;
        margin-top: 2rem;

    }

    .id-attr-title {
        margin-left: 1rem;

    }

    .m-idselector-img {
        margin-left: -2.5rem;
        display: block;
    }
}


.class-post-title {
    font-size: 1.5rem;
    color: black;
    margin-right: 12rem;
    margin-top: 2rem;
    margin-bottom: -1rem;
    margin-left: 135px;
}


.class-main {
    font-size: 1.4rem;
    color: black;
    margin-left: 7rem;
    margin-right: 15rem;
    line-height: 1.5;
}

.class-post-img {
    margin-left: 7rem;
    margin-top: 1rem;
}

.m-class-img {
    display: none;
}

.class-styles-title {
    color: black;
    font-size: 1.5rem;
    margin-left: 7rem;
    margin-top: 3rem;
}

.class-styles {
    font-size: 1.4rem;
    margin-left: 7rem;
    margin-right: 12rem;
    margin-top: .5rem;
}

.styling-img {
    margin-left: 7rem;
    margin-top: 1rem;
}

.m-styling-img {
    display: none;
}


.class-js-title {
    color: black;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    margin-left: 7rem;
}

.class-js {
    font-size: 1.2rem;
    color: black;
    margin-left: 7rem;
    margin-bottom: .5rem;
}

.class-js-img {
    margin-left: 7rem;
}

.m-class-js-img {
    display: none;
}

@media(max-width: 768px) {

    .class-styles-title {
        margin-top: 2rem;
        margin-bottom: .5rem;
        font-size: 1.5rem;
        color: black;
        margin-left: 1rem;
    }

    .class-styles {
        width: 100%;
        font-size: 1.2rem;
        line-height: 1.5;
        margin-left: 1rem;
        margin-bottom: .5rem;
}

    .class-js-img {
        display: none;
}

    .m-class-js-img {
        display: block;
 }
}

@media(max-width:768px) {

    .class-post-title {
        width: 100%;
        margin-left: 155px;
        margin-bottom: ;
    }

    .m-class-img {
        display: block;
        margin-left: 1rem;
    }

    .class-post-img {
        display: none;

    }
    .m-styling-img {
        display: block;
        margin-left: 1rem;
    }

    .styling-img {
        display: none;
    }

    .class-js-title {
        color: black; 
        font-size: 1.5rem;
        margin-left: 1rem;
        margin-bottom: .5rem;
    }

    .class-js {
        margin-left: 1rem;
        font-size: 1.2rem;
    }

    .m-class-js-img {
        display: block;
        margin-left: -4.3rem;
    }

    .class-js-img {
        display: none;
    }

    .class-main {
        width: 90%;
        font-size: 1.2rem;
        margin-left: 1rem;
        line-height: 1.5;
        margin-bottom: .5rem;
    }

}


/* Href Post */

.href-post-title {
    font-size: 1.5rem;
    color: black;
    margin-left: 40%;
    margin-top: 2rem;
    margin-bottom: -1rem;
    
}

.href-main {
    font-size: 1.4rem;
    color: black;
    margin-left: 7rem;
    margin-right: 12rem;
    margin-bottom: .5rem;
}

.href-post-img {
    margin-left: 7rem;
    margin-top: 1rem;
}

.m-href-img {
    display: none;
}

@media(max-width:768px) {

    .href-post-title {
        color: black;
        margin-bottom: -1rem;
        font-size: 1.5rem;
        margin-left: 155px;
    }

    .href-main {
        width: 90%;
        font-size: 1.2rem;
        color: black;
        margin-left: 1rem;
    }

    .m-href-img {
        display: block;
    }

    .href-post-img {
        display: none;
    }
}


/* src Post */

.src-title-img {
    color: black;
    font-size: 1.5rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    margin-left: 7rem;
}

.src-post-title {
    font-size: 1.5rem;
    color: black;
    margin-top: 2rem;
    margin-bottom: -1rem;
    margin-left: 40%;
}

.src-main {
    font-size: 1.4rem;
    color: black;
    margin-left: 7rem;
    margin-right: 12rem;
}

.src-post-img {
    margin-left: 7rem;
    margin-top: 1rem;
}

.m-src-img {
    display: none;
}


/* Class Style */

.class-style-title {
    font-size: 1.5rem;
    color: black;
    margin-left: 7rem;
    margin-top: 1rem;
}

.class-style {
    font-size: 1.2rem;
    margin-left: 7rem;
}

.script-src-title {
    font-size: 1.5rem;
    color: black;
    margin-left: 7rem;
    margin-bottom: .5rem;
    margin-top: 2rem;
}

@media(max-width:768px) {

    .src-title-img {
        color: black;
        margin-left: 1rem;
        margin-top: 2rem;
        margin-bottom: .5rem;
    }

    .src-post-title {
        margin-left: 155px;
        font-size: 1.5rem;
        margin-bottom: -1rem;
        margin-top: 2rem;
    }

    .src-main {
        width: 90%;
        margin-left: 1rem;
        line-height: 1.2;
    }

    .m-src-img {
        display: block;
    }

    .src-post-img {
        display: none;
    }

    .script-src-title {
        margin-left: 1rem;

    }
}



/* Audio Post */

.audio-src-title {
    font-size: 1.5rem;
    color: black;
    margin-left: 7rem;
    margin-right: 12rem;
    margin-top: 2rem;
    margin-bottom: .5rem;
}

.audio-main {
    font-size: 1.4rem;
    color: black;
    margin-left: 7rem;
    margin-right: 12rem;
}

.audio-src-img {
    margin-left: 7rem;
    margin-top: 1rem;
}

.m-audio-src-img {
    display: none;
}


@media(max-width:768px) {
    
    .audio-src-title {
        margin-left: 1rem;
        margin-bottom: .5rem;
    }

    .audio-main {
        width: 90%;
        font-size: 1.2rem;
        line-height: 1.5;
        margin-left: 1rem;
    }

    .m-audio-src-img {
        display: block;
    }

    .audio-src-img {
        display: none;
    }
}

/* Video Src */

.video-src-title {
    font-size: 1.5rem;
    color: black;
    margin-left: 7rem;
    margin-top: 2rem;
    margin-bottom: .5rem;
}

.video-main {
    font-size: 1.2rem;
    color: black;
    margin-left: 7rem;
    padding-right: 12rem;
}

.video-src-img {
    margin-left: 7rem;
    margin-top: 1rem;
}

.m-video-src-img {
    display: none;
}

@media(max-width:768px) {

    .video-src-title {
        color: black;
        font-size: 1.5rem;
        margin-left: 1rem;
        margin-bottom: .5rem;
}

    .video-main {
        width: 120%;
        margin-left: 1rem;
        margin-bottom: .5rem;
}

    .m-video-src-img {
        display: block;
}

    .video-src-img {
        display: none;
}

    .style-main {
       font-size: 1.2rem;
       color: black;
}


.image-width-title {
    font-size: 1.5rem;
    color: black;
    margin-top: 1rem;
    margin-left: 7rem;
}

.image-width-main {
    font-size: 1.2rem;
    margin-left: 7rem;
    line-height: 1.5;
  }
}


/* alt Post */

.alt-post-title {
    font-size: 1.5rem;
    color: black;
    margin-left: 7rem;
    margin-right: 12rem;
    margin-top: 2rem;
}

.alt-main {
    font-size: 1.2rem;
    color: black;
    margin-left: 7rem;
    margin-right: 12rem;
    line-height: 1.5;
}

.alt-post-img {
    margin-left: 7rem;
    margin-top: 1rem;
}

.m-alt-img {
    display: none;
}


@media(max-width:768px) {

    .alt-post-title {
        margin-left: 1rem;
        margin-top: 3rem;
        margin-bottom: 1rem;
    }

    .alt-main {
        width: 90%;
        margin-left: 1rem;
        margin-bottom: .5rem;
    }

    .m-alt-img {
        display: block;
        margin-left: -2rem;
    }

    .alt-post-img {
        display: none;
    }
}


/* Video width & height */

.width-post-title {
    color: black;
    font-size: 1.5rem;
    margin-bottom: -1rem;
    margin-top: 2rem;
    text-align: center;
}

.width-main {
    font-size: 1.4rem;
    margin-left: 7rem;
    margin-right: 12rem;
    margin-top: -1rem;
    line-height: 1.5;
    margin-bottom: -4rem;
}

@media (max-width: 768px) {

    .width-post-title {
        margin-left: 1rem;
}
    
    .width-main {
       width: 90%;
       margin-left: 1rem;
}

    .width-post-img {
        display: none;
}

    .m-width-img {
        display: block;
}

    .width-post-img {
        margin-left: 7rem;
}
    
    .m-width-img {
        display: none;
 }    
}



.image-width-title {
    color: black;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    margin-top: 4rem;
    margin-left: 7rem;
}

.image-width-main {
    font-size: 1.4rem;
    margin-left: 7rem;
    margin-right: 12rem;
    margin-bottom: .5rem;
    line-height: 1.5;
}

.width-post-img {
    margin-left: 7rem; 

}

.m-width-img {
    display: none;
}

@media (max-width: 768px) {
    .image-width-title {
        margin-left: 1rem;
       
    }
    
    .image-width-main {
      margin-left: 1rem;
      width: 90%;
      margin-bottom: 1rem;
    }
}


.video-width-title {
    font-size: 1.5rem;
    color: black;
    margin-left: 7rem;
    margin-bottom: 1rem;
    margin-top: 2rem;
}

.video-width-main {
    font-size: 1.4rem;
    color: black;
    margin-left: 7rem;
    margin-right: 12rem;
    margin-bottom: .5rem;
    line-height: 1.5;
}

@media(max-width:768px) {

    .video-width-title {
      margin-left: 1rem;
}
    
    .video-width-main {
        width: 90%;
        margin-left: 1rem;
        margin-bottom: .5rem;
        line-height: 1.5;
    }
}


.vid-height-img {
    margin-left: 7rem;
}

.m-vid-height-img {
    display: none;
}


@media(max-width: 768px) {

    .vid-height-img {
        display: none;
    }

    .m-vid-height-img {
        display: block;
    }
}


.tab-width-title {
    font-size: 1.5rem;
    color: black;
    margin-left: 7rem;
    margin-bottom: 1rem;
    margin-top: 2rem;

}

.tab-width-main {
    font-size: 1.4rem;
    color: black;
    margin-left: 7rem;
    margin-right: 15rem;
    margin-bottom: .5rem;
}

.tab-width-img {
    margin-left: 7rem;
}

.m-tab-width-img {
    display: none;
}

@media(max-width: 768px) {

    .m-tab-width-img {
        display: block;
        margin-left: 3.5rem;
    }

    .tab-width-img {
        display: none;
    }

    .tab-width-title {
        font-size: 1.5rem;
        margin-left: 1rem;
    
    }
    
    .tab-width-main {
        width: 90%;
        font-size: 1.4rem;
        margin-left: 1rem;
        margin-bottom: .5rem;
        line-height: 1.5;
    }
    
}


.style-attr-title {
    font-size: 1.5rem;
    color: black;
    margin-left: 40%;
    margin-bottom: -1rem;
    margin-top: 2rem;
  
}

.style-attr-main {
    font-size: 1.4rem;
    color: black;
    margin-left: 7rem;
}

.style-attr-img {
    margin-left: 7rem;
}

.m-style-attr-img {
    display: none;
}

@media(max-width:768px) {

    .style-attr-title {
        margin-left: 155px;
        margin-bottom: -1rem;
        margin-top: 2rem;
    }
    
    .style-attr-main {
        font-size: 1.4rem;
        line-height: 1.5;
        width: 90%;
        margin-left: 1rem;
        margin-bottom: -1rem;
    }

    .style-attr-img {
        display: none;
    }

    .m-style-attr-img {
        display: block;
    }
}

.target-post-title {
    font-size: 1.5rem;
    color: black;
    margin-left: 40%;
    margin-bottom: -1rem;
    margin-top: 2rem;
}

.target-main {
    font-size: 1.4rem;
    line-height: 1.5;
    color: black;
    margin-left: 7rem;
    margin-right: 12rem;
    margin-bottom: 1rem;

}

.target-blank-title {
    font-size: 1.5rem;
    color: black;
    margin-bottom: .5rem;
}

.target-blank-img {
    margin-left: 7rem;
}

.m-target-blank-img {
    display: none;
}

@media(max-width:768px) {
    .target-post-title {
        width: 100%;
        margin-left: 145px;
     
}
    .target-main {
        width: 90%;
        margin-left: 1rem;
        margin-bottom: 1rem;
    
    }

    .m-target-blank-img {
        display: block;
        margin-left: -3.5rem;
    }
    .target-blank-img {
        display: none;
    }
}



/* Forms */

.form-container-title {
    font-size: 1.5rem;
    color: black;
    margin-bottom: 3rem;
    margin-top: 1rem;
    text-align: center;
}


.form-image {
    padding-left: 7rem;
}

.m-forms-img {
    display: none;
} 


.form-post-title {
    font-size: 1.5rem;
    color: black;
    margin-bottom: 1.5rem;
    margin-top: 1rem;
}

.form-list-title {
    font-size: 1.5rem;
    color: black;
    margin-top: -1rem;
}

.form-list {
    font-size: 1.4rem;
    margin-bottom: -1.5rem
}

.form-control-title {
    color: black;
    font-size: 1.5rem;
    margin-top: -.5rem;
}

.form-controls {
    font-size: 1.4rem;
}

.form-controls ul li {
    margin-left: 1rem;
    margin-top: 1rem;
}

.form-post-main {
    font-size: 1.4rem;
    line-height: 1.5;
    margin-right: 12rem;
    margin-top: 2rem;
    margin-left: 7rem;
}

.form-label-title {
    font-size: 1.5rem;
    color: black;
    margin-top: -1rem;
}

.form-label {
    margin-bottom: 2rem;
}

.form-submission-title {
    font-size: 1.5rem;
    color: black;
    margin-top: 1.5rem;
}

.form-validation-title {
    font-size: 1.5rem;
    color: black;
    margin-top: 1.5rem;
}

.form-controls .form-list-controls {
    margin-left: 2rem;
}

.form-action {
    color: black;
    margin-left: 7rem;
    margin-bottom: .5rem;
    margin-top: 3rem;

}

@media(max-width:768px) {

    .form-post-main {
        width: 90%;
        margin-left: 1rem;
     }

    .form-image {
        display: none;
    }
    
    .m-forms-img {
        display: block;
        margin-left: -4.5rem;
    }
    .form-action {
        margin-left: 1rem;
    }
}


.placeholder-title {
    font-size: 1.5rem;
    color: black;
    margin-left: 7rem;
    margin-top: 2rem;
    margin-right: 5rem;
}

.placeholder-attr {
    font-size: 1.4rem;
    color: black;
    margin-left: 7rem;
    margin-right: 5rem;
    line-height: 1.5;
}

@media (max-width: 768px) {
    .placeholder-attr {
        width: 100%;
        font-size: 1.4rem;
        line-height: 1.5;
        margin-left: 1rem;
    }
    .placeholder-title {
        margin-left: 1rem;
        margin-top: 3rem;
        margin-bottom: .5rem;
    }
}


/* Div */

.div-blog-post {
    font-size: 1.4rem;
    line-height: 1.5;
    margin-left: 7rem;
    margin-right: 12rem;
    margin-top: 3rem;
}

@media (max-width: 768px) {

    .div-blog-post {
        width: 90%;
        margin-left: 1rem;
    }
}

.organiz-main-title {
    font-size: 1.5rem;
    color: black;
    margin-top: 3rem;
    margin-bottom: -28rem;
    margin-left: 7rem;
    text-decoration: underline;

}

.organiz-title {
    font-size: 1.5rem;
    color: black;
    margin-left: 7rem;
    margin-bottom: .5rem;

}


.organiz-main {
    font-size: 1.4rem;
    color: black;
    margin-left: 7rem;
    margin-top: 1rem;
    margin-right: 10rem;
    line-height: 1.5;
  }

.organiz-img {
    margin-left: 20rem;
    margin-top: 2rem;
}

.m-organiz-img {
    display: none;
}


@media(max-width: 768px) {

    .organiz-img {
       display: none
    }

    .m-organiz-img {
        display: block;
        margin-left: 2rem;
        margin-top: 1rem;
    }

    .organiz-title {
        margin-top: 20rem;
        width: 100%;
        margin-left: 1rem;
    }

    .organiz-main-title {
        width: 100%;
        margin-left: 1rem;
}
     .organiz-main {
      width: 85%;
      margin-left: 1rem;
 }
}


.layout-main-title {
    font-size: 1.5rem;
    color: black;
    margin-left: 7rem;
    margin-top: 3rem;
    margin-bottom: .5rem;
}

.layout-main {
    width: 75%;
    font-size: 1.4rem;
    color: black;
    margin-left: 7rem;
    line-height: 1.5;
    margin-top: .5rem;
}

.layout-img {
    margin-left: 17rem;
    margin-top: 1rem;
}

.m-layout-img {
    display: none;
}

@media(max-width: 768px) {

    .layout-img {
       display: none ;
    }
    .m-layout-img {
        display: block;
        margin-top: 1rem;
    }
    .layout-main {
        width: 85%;
        margin-left: 2rem;
    }
    .layout-main-title {
        width: 100%;
        margin-left: 2.1rem;
        margin-bottom: .5rem;
    }
}

.jsint-title {
    font-size: 1.5rem;
    color: black;
    margin-left: 7rem;
    margin-top: 3rem;
    margin-bottom: .5rem;
}

.jsint-main {
    width: 75%;
    font-size: 1.4rem;
    color: black;
    margin-left: 7rem;
    line-height: 1.5;
    margin-top: .5rem;
}

.jsint-img {
    margin-left: 12rem;
    margin-top: 1rem;
}

.m-jsint-img {
    display: none;
}

@media(max-width: 768px) {

    .jsint-img {
       display: none ;
    }

    .m-jsint-img {
        display: block;
        margin-top: 1rem;
        margin-left: -4rem;
    }

    .jsint-main {
        width: 85%;
        margin-left: 2rem;
    }

    .jsint-title {
        width: 100%;
        margin-left: 2.1rem;
        margin-bottom: .5rem;
    }
}


.nest-title {
    font-size: 1.5rem;
    color: black;
    margin-left: 9rem;
    margin-top: 3rem;
    margin-bottom: .5rem;
}

.nest-main {
    width: 75%;
    font-size: 1.4rem;
    color: black;
    margin-left: 9rem;
    line-height: 1.2;
    margin-top: .5rem;
    margin-bottom: 1rem;
}

.nest-img {
    margin-left: 22rem;
    margin-top: 1rem;
}

.m-nest-img {
    display: none;
}

.nest-list {
    margin-left: 3rem;
    margin-top: 1rem;
}


@media(max-width: 768px) {

    .nest-title {
        margin-left: 1rem;
        margin-top: 3rem;
        margin-bottom: .5rem;
    }
    
    .nest-main {
        width: 90%;
        font-size: 1.4rem;
        color: black;
        margin-left: 1rem;
    }

    .nest-img {
       display: none ;
    }

    .m-nest-img {
        display: block;
        margin-top: 1rem;
        margin-left: 3rem;
    }
    .nest-list {
        margin-left: 1.5rem;
        margin-top: 1rem;
    }
    

    /* .jsint-main {
        width: 85%;
        margin-left: 2rem;
    }

    .jsint-title {
        width: 100%;
        margin-left: 2.1rem;
        margin-bottom: .5rem;
    } */
}


/* Text */


.text-blog-post {
    font-size: 1.5rem;
    line-height: 1.5;
    margin-left: 7rem;
    margin-right: 12rem;
    margin-top: 3rem;
}

.html-formats {
    font-size: 1.4rem;
    line-height: 1.5;
    margin-left: 7rem; 
}

.text-block {
    color: black;
    font-size: 1.5rem;
}

.text-inline {
    color: black;
    font-size: 1.5rem;
    margin-top: 3rem;
}

.inline-list {
    margin-left: 2rem;
}

.block-list {
    margin-left: 2rem;
}

.text-img {
    margin-left: 7rem;
}

.m-text-img {
    display: none;
}

.text-example-title {
    color: black;
    margin-left: 7rem;
    margin-bottom: .5rem;
    margin-top: 3rem;
}


@media (max-width: 768px) {
    .text-blog-post {
       width: 90%;
       margin-left: 1rem;
    }
    .text-block {
        margin-left: -6rem;
        margin-bottom: .5rem;
    }
    .block-list {
        margin-left: -4.5rem;
        margin-top: .5rem;
    }
    .text-inline{
        margin-left: -6rem;
        margin-bottom: .5rem;
    }
    .inline-list {
        margin-left: -4.5rem;
        margin-top: .5rem;
    }
    .text-example-title {
        margin-left: 1rem;
    
    }
    .text-img {
        display: none;
    }

    .m-text-img {
        display: block;
        margin-left: -3.1rem;
    }
}




/* List */

.list-main {
    font-size: 1.4rem;
    color: black;
    line-height: 1.5;
    margin-left: 7rem;
    margin-right: 10rem;
}

.ul-list-title {
    font-size: 1.5rem;
    color: black;
    margin-top: 2rem;
}

.ul-img {
    margin-left: 20rem;
    margin-top: 1rem;
}

.m-ul-img {
    display: none;
}

.list-action-title {
    color: black;
    margin-bottom: .5rem;
    margin-top: 4rem;
    margin-left: 7rem;
}
 
.list-action-img {
    margin-left: 25rem;
}

.m-list-action-img {
    display: none;
}

.list-action {
    font-size: 1.4rem;
    line-height: 1.5;
    margin-left: 7rem;
    margin-right: 12rem;
    margin-bottom: .5rem;
    margin-top: 1rem;
}



@media(max-width: 768px) {

    .list-main {
        width: 90%;
        margin-left: 1rem;
    }

    .ul-img {
       display: none ;
    }

    .m-ul-img {
        display: block;
        margin-top: 1rem;
        margin-left: -3.5rem;
    }

    .list-action {
        width: 90%;
        margin-left: 1rem;
    }

    .list-action-img {
       display: none;
    }
    .m-list-action-img {
        display: block;
        margin-left: -3.5rem;
    }
}


.ol-list-title {
    font-size: 1.5rem;
    color: black;
    margin-top: 2rem;
}

.ol-img {
    margin-left: 20rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.m-ol-img {
    display: none;
}

@media(max-width: 768px) {

    .ol-img {
       display: none ;
    }

    .m-ol-img {
        display: block;
        margin-top: 1rem;
        margin-left: -4rem;
    }
}

/* Semantics */

.semantics-post-title {
    font-size: 1.5rem;
    color: black;
    text-align: center;
}

.semantics-post {
    font-size: 1.4rem;
    color: black;
    line-height: 1.5;
    margin-left: 7rem;
    margin-right: 7rem;
    margin-top: 3rem;
}

.semantics-title {
    font-size: 1.5rem;
    color: black;
    margin-left: 7rem;
    text-align: center;
}

.semantics-main {
    font-size: 1.4rem;
    color: black;
    line-height: 1.2;
    margin-left: 8rem;
    margin-right: 7rem;
    margin-top: 1.5rem;
}

.semantics-list {
    margin-top: 1.4rem;
}

.semantics-img {
    margin-left: 16rem;
    margin-top: 2rem;
}

.m-semantics-img {
    display: none;
}

@media(max-width: 768px) {

    .semantics-img {
       display: none ;
    }

    .m-semantics-img {
        display: block;
        margin-top: 1rem;
        margin-left: -1rem;
    }

    .semantics-post {
        width: 90%;
        margin-left: 1rem;
    }

    .semantics-title {
        margin-left: 1rem;
        margin-right: 2rem;
    }
    .semantics-main {
        width: 90%;
        margin-left: 1rem;
    }
}


