
* {
    box-sizing: border-box;
}

.html-img {
 margin-left: -14rem;
}

@media(max-width: 768px) {
    .html-img {
        padding-left: -20%;
    }
}

.html-post {
    flex: 9;
}

.html-blog-post {
    font-size: 1.4rem;
    /* padding: 0 7rem; */
    padding-right: 7rem;
    padding-left: 8rem;
    margin-bottom: 1.5rem;
    line-height: 1.5;
}

@media (max-width: 600px) {
    .html-blog-post {
       padding: 3rem;
    }
}

.html-post-wrapper {
    padding: 20px;
    padding-right: 0;
    margin-top: 5rem;
}

.html-post-img {
    width: 85%;
    height: 500px;
    border-radius: .3rem;
    margin-top: 5rem;
    margin-left: 6%;
}

.html-formats {
    margin-left: 30px;
}

.html-post-title {
    font-size: 2rem;
    color: black;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.html-post-info {
    display: flex;
    margin-bottom: 20px;
    justify-content: space-around;
}

 .html-post .html-post-wrapper .ethics {
    text-decoration: underline;
    font-weight: bold;
}

.html-post .html-post-wrapper img .test {
    height: 15rem;
    width: 2rem;
    margin-left: 5rem;
}


/* Forms */

.forms-img {
    padding-left: 21rem;
    margin-top: 2rem;
}

.form-post-title {
    font-size: 1.4rem;
    color: black;
    margin-bottom: 1.5rem;
    margin-top: 1rem;
}

.form-list {
    font-size: 1.2rem;
    margin-bottom: -1.5rem
}

.form-control-title {
    color: black;
    font-size: 1.2rem;
    margin-top: -.5rem;
}

.form-controls {
    font-size: 1.2rem;
}

.form-controls ul li {
    margin-left: 1rem;
    margin-top: 1rem;
}

.form-post-main {
    font-size: 1.2rem;
    margin-top: 3rem;
    padding: 0 5rem;
    line-height: 1.5;
    margin-top: 2rem;
}

.form-label-title {
    font-size: 1.2rem;
    color: black;
    margin-top: -1rem;
}

.form-label {
    margin-bottom: 2rem;
}

.form-submission-title {
    font-size: 1.2rem;
    color: black;
    margin-top: 1.5rem;
}

.form-validation-title {
    font-size: 1.2rem;
    color: black;
    margin-top: 1.5rem;
}

.forms-img {
    margin-left: -7rem;
}

.m-forms-img {
    display: none;
}

@media(max-width:768px) {
    .forms-img {
        display: none;
    }
    
    .m-forms-img {
        display: block;
    }
}


.placeholder-title {
    font-size: 1.2rem;
    color: black;
    margin-left: 5rem;
    margin-top: 2rem;
    margin-right: 5rem;
}

.placeholder {
    font-size: 1.2rem;
    color: black;
    margin-left: 5rem;
    margin-right: 5rem;
}





.videos {
    font-size: 1.2rem;
    /* padding: 0 7rem; */
    padding-right: 7rem;
    padding-left: 8rem;
    margin-bottom: 5rem;
    line-height: 1.5;
}

.audio {
    font-size: 1.2rem;
    /* padding: 0 7rem; */
    padding-right: 7rem;
    padding-left: 8rem;
    margin-bottom: 5rem;
    line-height: 1.5;
}


.multimedia-content {
    margin-top: 1rem;
    margin-left: 12rem;
    margin-right: 7rem;
    font-size: 1.4rem;
}

.multimedia-content .content {
    margin-bottom: 1rem;
    list-style: none;
    font-size: 1.4rem;
}

.multimedia-content .content-1 {
    margin-bottom: 1rem;
    list-style: none;
    font-size: 1.4rem;
}


.multimedia-content .content-2 {
    margin-bottom: 1rem;
    list-style: none;
    font-size: 1.4rem;
}

/* Buttons Blog */

.m-blog-button {
    display: none;
}

.blog-button {
    margin-left: 7rem;
}

.m-attr-img {
    display: none;
}

.attr-img {
    margin-left: 7rem;
}


@media(max-width: 768px) {
     .m-blog-button {
        display: block;
        margin-left: -1rem;
        margin-top: -4rem;
    }
    .blog-button {
        display: none;
    }
    .m-attr-img {
         display: block;
         margin-left: 2rem;
         margin-top: 1rem;
    }
    .attr-img {
     display: none; 
    }
}


.btn-attr {
    font-size: 1.2rem;
    padding-left: 7rem;
    padding-right: 5rem;
   
}

.btn-attr-title {
    font-size: 1.5rem;
    color: black;
    margin-top: 2rem;
    margin-bottom: 1rem;
    margin-left: 7rem;
}

.name-attr-img {
    margin-left: 7rem;
    margin-top: 1rem;
}

.name-attr-main {
    font-size: 1.2rem;
    padding-left: 7rem;
    padding-right: 5rem;
    margin-top: 1rem;
}

.m-name-attr-img {
    display: none;
}

@media(max-width: 768px) {
    .m-name-attr-img {
        display: block;
        margin-left: -3rem;
        margin-top: 1rem;
    }
    .name-attr-img {
        display: none;
    }
}

.attr-title {
    color: black;
    font-size: 1.5rem;
    margin-top: 2rem;
    padding-left: 7rem;
    padding-right: 5rem;
}

.type-attr-title {
    font-size: 1.5rem;
    color: black;
    margin-bottom: 1rem;
}


/* Onclick Post */

.onclick-title {
    font-size: 1.5rem;
    color: black;
    margin-top: 2rem;
    margin-left: 7rem;
}

.onclick-attr {
    font-size: 1.2rem;
    margin-top: 1rem;
    margin-left: 7rem;
}

.click-attr-img {
    margin-left: 7rem;
}

.m-click-attr-img {
    display: none;
}

@media(max-width: 768px) {
    .click-attr-img {
        display: none;
    }
    .m-click-attr-img {
        display: block;
        margin-left: -3rem;
    }
    .onclick-attr {
       width: 90%;
       margin-left: 1rem;
       margin-bottom: .5rem;
    }
}


/* Input Button */

.input-btn-title {
    color: black;
    font-size: 1.5rem;
    margin-left: 7rem;
    margin-top: 2rem ;
    margin-bottom: 1rem;
}

.input-btn-main {
    color: black;
    font-size: 1.2rem;
    margin-right: 16rem;
    margin-left: 7rem;
    margin-bottom: 1rem;
    line-height: 1.5;
}

.input-btn-img {
    margin-left: 7rem;
}

.m-input-btn-img {
    display: none;
}

@media(max-width:768px) {
    .m-input-btn-img {
        display: block;
        margin-left: .5rem;
    }

    .input-btn-img {
        display: none;
     
    }

    .input-btn-main {
        width: 86%;
        margin-left: .5rem;
    }
}

.img-btn-title {
    font-size: 1.5rem;
    color: black;
    margin-left: 7rem;
    margin-top: 2rem;
    margin-bottom: .5rem;
}

.img-btn-main {
    font-size: 1.2rem;
    margin-left: 7rem;
    margin-bottom: 1rem;
    padding-right: 7rem;
}

.img-btn {
    margin-left: 7rem;
}

.m-img-btn {
    display: none;
}

@media(max-width:768px) {
    .m-img-btn {
        display: block;
    }
    .img-btn-main {
        width: 100%;
    
    }

    .img-btn {
        display: none;
    }

}

/* Attributes Post */

.html-attr-intro {
    font-size: 1.2rem;
    color: black;
    margin-left: 7rem;
    margin-right: 12rem;
}

.attr-post-title {
    font-size: 1.5rem;
    color: black;
    margin-top: 2rem;
    margin-bottom: 1rem;
    margin-left: 7rem;
    margin-top: 1rem;
}

.attr-main {
    font-size: 1.2rem;
    color: black;
    margin-left: 7rem;
    margin-right: 12rem;
}

.attr-post-img {
    margin-left: 7rem;
    margin-top: 1rem;
}

.m-attr-img {
    display: none;
}

@media(max-width:768px) {
    .m-attr-img {
        display: block;
    }

    .attr-post-img {
        display: none;
    }

}

/* Class Post */

.class-post-title {
    font-size: 1.2rem;
    color: black;
    margin-left: 7rem;
    margin-right: 12rem;
    margin-top: 1rem;
}


.class-main {
    font-size: 1.2rem;
    color: black;
    margin-left: 7rem;
    margin-right: 15rem;
}

.class-post-img {
    margin-left: 7rem;
    margin-top: 1rem;
}

.m-class-img {
    display: none;
}

.styling-img {
    margin-left: 7rem;
    margin-top: 1rem;
}

.m-styling-img {
    display: none;
}


.js-title {
    font-size: 1.5rem;
    color: black;
    margin-left: 7rem;
}

.class-style {
    font-size: 1.2rem;
    padding-right: 12rem;
    margin-top: .5rem;
}
.class-js {
    font-size: 1.2rem;
    color: black;
    margin-left: 7rem;
}

.class-js-img {
    margin-left: 7rem;
}

.m-class-js-img {
    display: none;
}

@media(max-width:768px) {
    .m-class-img {
        display: block;
    }

    .class-post-img {
        display: none;
    }
    .m-styling-img {
        display: block;
    }

    .styling-img {
        display: none;
    }
    .m-class-js-img {
        display: block;
        margin-left: -4.3rem;
    }
    .class-js-img {
        display: none;
    }

}


/* Href Post */

.href-post-title {
    font-size: 1.2rem;
    color: black;
    margin-left: 7rem;
    margin-right: 12rem;
    margin-top: 1rem;
}

.href-main {
    font-size: 1.2rem;
    color: black;
    margin-left: 7rem;
    margin-right: 12rem;
}

.href-post-img {
    margin-left: 7rem;
    margin-top: 1rem;
}

.m-href-img {
    display: none;
}

@media(max-width:768px) {
    .m-href-img {
        display: block;
    }

    .href-post-img {
        display: none;
    }
}


/* src Post */

.src-post-title {
    font-size: 1.2rem;
    color: black;
    margin-left: 7rem;
    margin-right: 12rem;
    margin-top: 1rem;;
}

.src-main {
    font-size: 1.2rem;
    color: black;
    margin-left: 7rem;
    margin-right: 12rem;
}

.src-post-img {
    margin-left: 7rem;
    margin-top: 1rem;
}

.m-src-img {
    display: none;
}

.class-style-title {
    font-size: 1.5rem;
    color: black;
    margin-left: 7rem;
    margin-top: 1rem;
}

.class-style {
    font-size: 1.2rem;
    margin-left: 7rem;
}

.script-src-title {
    font-size: 1.5rem;
    color: black;
    margin-left: 7rem;
    margin-bottom: .5rem;
    margin-top: 1rem;
}

@media(max-width:768px) {
    .m-src-img {
        display: block;
    }

    .src-post-img {
        display: none;
    }
}


/* alt Post */

.alt-post-title {
    font-size: 1.5rem;
    color: black;
    margin-left: 7rem;
    margin-right: 12rem;
}

.alt-main {
    font-size: 1.2rem;
    color: black;
    margin-left: 7rem;
    margin-right: 12rem;
}

.alt-post-img {
    margin-left: 7rem;
    margin-top: 1rem;
}

.m-alt-img {
    display: none;
}


@media(max-width:768px) {
    .m-alt-img {
        display: block;
    }

    .alt-post-img {
        display: none;
    }
}


/* Audio Post */

.audio-src-title {
    font-size: 1.5rem;
    color: black;
    margin-left: 7rem;
    margin-right: 12rem;
    margin-top: 1.5rem;
}

.audio-main {
    font-size: 1.2rem;
    color: black;
    margin-left: 7rem;
    margin-right: 12rem;
}

.audio-src-img {
    margin-left: 7rem;
    margin-top: 1rem;
}

.m-audio-src-img {
    display: none;
}


@media(max-width:768px) {
    .m-audio-src-img {
        display: block;
    }

    .audio-src-img {
        display: none;
    }
}

/* Video Src */

.video-src-title {
    font-size: 1.5rem;
    color: black;
    margin-left: 7rem;
    margin-top: 2rem;
}

.video-main {
    font-size: 1.2rem;
    color: black;
    margin-left: 7rem;
    padding-right: 12rem;
}

.video-src-img {
    margin-left: 7rem;
    margin-top: 1rem;
}

.m-video-src-img {
    display: none;
}

@media(max-width:768px) {
    .m-video-src-img {
        display: block;
    }

    .video-src-img {
        display: none;
    }
}

.class-style-title {
    font-size: 1.5rem;
    color: black;
}

.style-main {
    font-size: 1.2rem;
    color: black;
}


.image-width-title {
    font-size: 1.5rem;
    color: black;
    margin-top: 1rem;
    margin-left: 7rem;
}

.width-post-title {
    font-size: 1.5rem;
    color: black;
    margin-top: 2rem;
    margin-left: 7rem;
}

.width-main {
    font-size: 1.2rem;
    color: black;
    margin-left: 7rem;
}

.image-width-main {
    font-size: 1.2rem;
    margin-left: 7rem;
}

.width-post-img {
    margin-left: 7rem;
}

.m-width-img {
    display: none;
}



@media(max-width:768px) {
    .width-post-img {
        display: none;
    }
    .m-width-img {
        display: block;
    }
    
    
}

/* Video width & height */

.video-width-title {
    font-size: 1.5rem;
    color: black;
    margin-left: 7rem;
}

.video-width-main {
    font-size: 1.2rem;
    color: black;
    margin-left: 7rem;
}

.vid-height-img {
    margin-left: 7rem;
}

.m-vid-height-img {
    display: none;
}


@media(max-width: 768px) {
    .vid-height-img {
        display: none;
    }

    .m-vid-height-img {
        display: block;
    }
}


.tab-width-title {
    font-size: 1.5rem;
    color: black;
    margin-left: 7rem;
    margin-bottom: 1rem;
    margin-top: 2rem;

}

.tab-width-main {
    font-size: 1.2rem;
    color: black;
    margin-left: 7rem;
}

.tab-width-img {
    margin-left: 7rem;
}

.m-tab-width-img {
    display: none;
}

@media(max-width: 768px) {
    .m-tab-width-img {
        display: block;
    }

    .tab-width-img {
        display: none;
    }
    
}


.style-attr-title {
    font-size: 1.5rem;
    color: black;
    margin-left: 7rem;
    margin-bottom: 1rem;
    margin-top: 2rem;
}

.style-attr-main {
    font-size: 1.2rem;
    color: black;
    margin-left: 7rem;
}

.style-attr-img {
    margin-left: 7rem;
}

.m-style-attr-img {
    display: none;
}

@media(max-width:768px) {
    .style-attr-img {
        display: none;
    }
    .m-style-attr-img {
        display: block;
    }
}

.target-post-title {
    font-size: 1.5rem;
    color: black;
    margin-left: 7rem;
    margin-bottom: 1rem;
    margin-top: 2rem;
}

.target-main {
    font-size: 1.2rem;
    color: black;
    margin-left: 7rem;
    margin-bottom: 1rem;
}

.target-blank-title {
    font-size: 1.5rem;
    color: black;
    margin-bottom: .5rem;
}

.target-blank-img {
    margin-left: 7rem;
}

.m-target-blank-img {
    display: none;
}

@media(max-width:768px) {
    .m-target-blank-img {
        display: block;
    }
    .target-blank-img {
        display: none;
    }
}


/* Div */

.organiz-main-title {
    font-size: 1.5rem;
    color: black;
    margin-bottom: -29rem;
    margin-left: 9rem;

}

.organiz-title {
    font-size: 1.5rem;
    color: black;
    margin-left: 9rem;
}


.organiz-main {
    font-size: 1.4rem;
    color: black;
    margin-left: 9rem;
    margin-top: 1rem;
    margin-right: 10rem;
    line-height: 1.5;
  }

.organiz-img {
    margin-left: 22rem;
    margin-top: 2rem;
}

.m-organiz-img {
    display: none;
}

@media(max-width: 1200px) {
    .organiz-main-title {
        margin-top: 4rem;
    }

    .organiz-title {
        margin-top: 7rem;
    }

    .organiz-img {
        margin-left: 125px;
    }
}

@media(max-width: 768px) {
    .organiz-img {
       display: none
    }

    .m-organiz-img {
        display: block;
        margin-left: 4rem;
        margin-top: 1rem;
    }

    .organiz-title {
        margin-top: 20rem;
        width: 100%;
        margin-left: 4rem;
    }

    .organiz-main-title {
        margin-top: -3rem;
        width: 100%;
        margin-left: 4rem;
}
     .organiz-main {
      width: 85%;
      margin-left: 4rem;
 }
}


/* Style and Layout */

.layout-main-title {
    font-size: 1.5rem;
    color: black;
    margin-left: 9rem;
    margin-top: 3rem;
}

.layout-main {
    width: 75%;
    font-size: 1.4rem;
    color: black;
    margin-left: 9rem;
    line-height: 1.5;
    margin-top: .5rem;
}

.layout-img {
    margin-left: 17rem;
    margin-top: 1rem;
}

.m-layout-img {
    display: none;
}

@media(max-width: 768px) {
    .layout-img {
       display: none ;
    }
    .m-layout-img {
        display: block;
        margin-top: 1rem;
    }
    .layout-main {
        width: 85%;
        margin-left: 2rem;
    }
    .layout-main-title {
        width: 100%;
        margin-left: 2.1rem;
        margin-bottom: .5rem;
    }
}

/* Js Intergration */

.jsint-title {
    font-size: 1.5rem;
    color: black;
    margin-left: 9rem;
    margin-top: 3rem;
}

.jsint-main {
    width: 75%;
    font-size: 1.4rem;
    color: black;
    margin-left: 9rem;
    line-height: 1.5;
    margin-top: .5rem;
}

.jsint-img {
    margin-left: 12rem;
    margin-top: 1rem;
}

.m-jsint-img {
    display: none;
}

@media(max-width: 768px) {
    .jsint-img {
       display: none ;
    }

    .m-jsint-img {
        display: block;
        margin-top: 1rem;
        margin-left: -4rem;
    }

    .jsint-main {
        width: 85%;
        margin-left: 2rem;
    }

    .jsint-title {
        width: 100%;
        margin-left: 2.1rem;
        margin-bottom: .5rem;
    }
}

/* Div Nesting */

.nest-title {
    font-size: 1.5rem;
    color: black;
    margin-left: 9rem;
    margin-top: 3rem;
}

.nest-main {
    width: 75%;
    font-size: 1.4rem;
    color: black;
    margin-left: 9rem;
    line-height: 1.2;
    margin-top: .5rem;
    margin-bottom: 1rem;
}

.nest-img {
    margin-left: 22rem;
    margin-top: 1rem;
}

.m-nest-img {
    display: none;
}

@media(max-width: 768px) {
    .nest-img {
       display: none ;
    }

    .m-nest-img {
        display: block;
        margin-top: 1rem;
        margin-left: -4rem;
    }

    /* .jsint-main {
        width: 85%;
        margin-left: 2rem;
    }

    .jsint-title {
        width: 100%;
        margin-left: 2.1rem;
        margin-bottom: .5rem;
    } */
}

.nest-list {
    margin-left: 3rem;
    margin-top: 1rem;
}


/* List */

.list-main {
    font-size: 1.4rem;
    color: black;
    line-height: 1.5;
    margin-left: 7rem;
    margin-right: 10rem;
}

.ul-list-title {
    font-size: 1.5rem;
    color: black;
    margin-top: 2rem;
}

.ul-img {
    margin-left: 20rem;
    margin-top: 1rem;
}

.m-ul-img {
    display: none;
}

@media(max-width: 768px) {
    .ul-img {
       display: none ;
    }

    .m-ul-img {
        display: block;
        margin-top: 1rem;
        margin-left: -9.5rem;
    }
}


.ol-list-title {
    font-size: 1.5rem;
    color: black;
    margin-top: 2rem;
}

.ol-img {
    margin-left: 20rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.m-ol-img {
    display: none;
}

@media(max-width: 768px) {
    .ol-img {
       display: none ;
    }

    .m-ol-img {
        display: block;
        margin-top: 1rem;
        margin-left: -4rem;
    }
}

/* Semantics */

.semantics-post {
    font-size: 1.2rem;
    color: black;
    line-height: 1.5;
    margin: 0 7rem;
    margin-top: 2rem;
}

.semantics-title {
    font-size: 1.5rem;
    color: black;
    margin-left: 7rem;
    text-align: center;
}

.semantics-main {
    font-size: 1.2rem;
    color: black;
    line-height: 1.2;
    margin-left: 8rem;
    margin-right: 7rem;
    margin-top: 1.5rem;
}

.semantics-list {
    margin-top: 1.4rem;
}

.semantics-img {
    margin-left: 16rem;
    margin-top: 2rem;
}

.m-semantics-img {
    display: none;
}

@media(max-width: 768px) {
    .semantics-img {
       display: none ;
    }

    .m-semantics-img {
        display: block;
        margin-top: 1rem;
        margin-left: -1rem;
    }
}