* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.js-logo {
    margin-left: -3rem;
}

.js-intro-title {
    margin-top: 1.5rem;
    margin-left: 1rem;
}

.javascript-blog .heading {
    text-decoration: underline;
    margin-top: -3rem
}

.javascript-blog .javascript-blog-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 5rem;
    margin-top: 2rem;
}

.javascript-blog .javascript-blog-container .javascript-blog-info {
    margin-top: 5rem;
    margin-left: 3rem;
    overflow: hidden;
    width: 25rem;
    border-radius: .5rem;
    box-shadow: 0 .3rem .5rem rgba(0,0,0,.3);
}

.javascript-blog .javascript-blog-container .javascript-blog-info img {
    height: 15rem;
    width: 106%;
    margin-left: -1rem;
    object-fit: fill;
}

.javascript-blog .javascript-blog-container span {
    color: grey;
    font-size: 1rem;
    display: block;
    padding: 1rem 0;
}

.javascript-blog .javascript-blog-container h3 {
    font-size: 1.5rem;
    color: black;
}

/* .javascript-blog .javascript-blog-container p {
    font-size: .5rem;
    color: black;
    width: 100%;
    margin-bottom: 1.5rem;
} */

.javascript-blog .javascript-blog-container .button {
  margin-top: 1.5rem;  
  margin-bottom: 1.2rem;
  margin-left: 1rem;
  padding: 1rem 2rem;
  border-radius: .5rem;
  color: white;
  background: black;
}

.javascript-blog .javascript-blog-container .button:hover {
    background: orange;
    color: black;
    transition: 1s;
  }

.javascript-blog .javascript-blog-container .javascript-blog-description {
    width: 90%;
    font-size: 1.3rem;
    margin-top: .5rem;
    margin-right: 5rem;
    margin-left: 1rem;
    line-height: 1.4;
}


.javascript-blog .javascript-blog-container .js-blog-title {
    font-size: 1.5rem;
    color: black;
}


@media (max-width:768px) {
    .javascript-blog .javascript-blog-container .javascript-blog-info {
        margin-top: 7rem;
        margin-bottom: -3rem;
    }
}


.js-post-title {
    font-size: 1.5rem;
    color: black;
    text-align: center;
    margin-top: 9rem;
}

.js-post-info {
    margin-top: 2rem;
    margin-left: 15rem;
}

.js-post-date {
    margin-left: 46rem;
}


.js-main {
    font-size: 1.4rem;
    margin-left: 12rem;
    margin-right: 12rem;
    margin-top: 5rem;
    line-height: 1.5;
}


.js-var-main {
    font-size: 1.4rem;
    margin-left: 12rem;
    margin-right: 12rem;
    margin-top: 4rem;
    margin-bottom: -1rem;
    line-height: 1.5;
}

.varlist-container {
    margin-top: 2rem;
}

.var-title {
    color: black;
    font-size: 1.5rem;
    margin-top: .5rem;
    margin-bottom: .5rem;
    text-align: center;
}

.var-list {
    margin-left: 1.5rem;
    margin-bottom: 1rem;
}


.var-img {

}

.m-var-img {
    display: none;
}

@media (max-width:768px) {
    .var-img {
        display: none;
    }
    .m-var-img {
        display: block;
        margin-right: 1rem;

    }
}



.operators-title {
    margin-top: .5rem;
    margin-bottom: .5rem; 
    text-align: center;
}

.operatorlist-container {
    margin-top: 2rem;
}

.operator-list {
    margin-left: 2rem;
    margin-top: .5rem;
}


.mathoperator-title {
    color: black;
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-bottom: -4rem; 
}

.mathoperator-list {
    margin-top:  1rem;
    list-style-type: none;
}

.math-img {
    margin-top: 1rem;
}

.m-math-img {
    display: none;
}

@media (max-width:768px) {
    .math-img {
        display: none;
    }
    .m-math-img {
        display: block;
        margin-left: -7.5rem;
        margin-top: 1rem;
    

    }
}
 
.assignment-title {
    color: black;
    font-size: 1.5rem;
    margin-top: -1rem;

}
 
.assignment-list {
    list-style-type: none;
    margin-top: 1rem;
}

.assign-img {
    margin-top: 1rem;
}

.m-assign-img {
    display: none;
}

@media (max-width:768px) {
    .assign-img {
       display: none;
    }

    .m-assign-img {
        display: block;
        margin-left: -5rem;
        margin-top: 1rem;
    }
}

.comparison-title {
    color: black;
    font-size: 1.5rem;
    margin-top: -1rem;
    margin-bottom: 1rem;

}

.comparison-list {
    list-style-type: none;
    margin-top: 1rem;
    margin-bottom: .5rem;

}


.comparison-img {
    margin-top: 1rem;
}

.m-comparison-img {
    display: none;
}

@media (max-width:768px) {
    .comparison-img {
       display: none;
    }

    .m-comparison-img {
        display: block;
        margin-left: -3.5rem;
        margin-top: 1rem;
    }
}

.logical-title {
    color: black;
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

.logical-img {
   
}

.m-logical-img {
    display: none;
}

@media(max-width:768px) {
    .logical-img {
        display: none;
    }
    
    .m-logical-img {
        display: block;
        margin-left: -4.5rem;
    }
}


.logical-list{
    list-style-type: none;
    margin-top: 1rem;
}

.unary-title {
    color: black;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

.unary-list {
    list-style-type: none;
    margin-top: 1rem;
    margin-bottom: .5rem;
}

.unary-img {

}

.m-unary-img{
    display: none;
}

@media(max-width:768px) {
    .unary-img {
        display: none;
    }
    
    .m-unary-img {
        display: block;
        margin-left: -5rem;
    }
}

.ternary-title {
    color: black;
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.ternary-list {
    list-style-type: none;
    margin-top: 1rem;
    margin-bottom: .5rem;
}


.unary-img {

}

.m-js-ternary-img {
    display: none;
}

@media(max-width:768px) {
    .js-ternary-img {
        display: none;
    }
    
    .m-js-ternary-img{
        display: block;
        margin-left: -5rem;
    }
}


.basictype-titles {
    color: black;
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.basictype-list {
    list-style-type: none;
    margin-top: 1rem;
}

@media (max-width: 768px) {
    .num-data-img {
        display: block;
        margin-left: -2.5rem;
 }

    .str-data-img {
        display: block;
        margin-left: -7.5rem;
}

    .boo-data-img {
        display: block;
        margin-left: -4rem;
}
    .un-data-img {
        display: block;
        margin-left: -7rem;
}

    .null-data-img {
        display: block;
        margin-left: -3rem;
}

}



.symbol-data-img {
    display: block;
}

.m-symbol-data-img {
    display: none;
}

@media (max-width:768px) {
    .symbol-data-img {
        display: none;
    }
    
    .m-symbol-data-img {
        display: block;
        margin-left: -5rem;
    }
}

.js-object-img {
    
}

.m-js-object-img {
    display: none;
}

@media (max-width:768px) {
    .js-object-img {
        display: none;
    }
    
    .m-js-object-img {
        display: block;
        margin-left: -3.9rem;
    }
    
}


.m-js-array-img {
    display: none;
}

@media (max-width:768px) {
    .js-array-img {
        display: none;
    }
    
    .m-js-array-img {
        display: block;
        margin-left: -3.7rem;
    }
}

@media(max-width:768px) {
    .js-function-img {
        display: block;
        margin-left: -2rem;
    }

}



.reference-title {
    color: black;
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.reference-list {
    list-style-type: none;
    margin-top: 1rem;
}

.datatype-title {
    color: black;
    font-size: 1.5rem;
    margin-top: .5rem;
    margin-bottom: .5rem;
    text-align: center;
}

.datatype-list {
    list-style-type: none;
    margin-top: 1rem;
    margin-bottom: .5rem;
}


@media (max-width: 768px) {
    .js-main {
      width: 90%;
      margin-bottom: -2.5rem;
      margin-left: 2rem;
    }

    .js-var-main {
        width: 90%;
        margin-bottom: -2.5rem;
        margin-left: 2rem;
      }

    .js-post-date {
        margin-left: 16rem;
    }

    .js-post-author {
        margin-left: -12rem;
}
}

/* Dom */

.dom-title {
    color: black;
    font-size: 1.5rem;
    margin-bottom: .5rem;
    text-align: center;
}

.dom-title-1 {
    color: black;
    font-size: 1.5rem;
    margin-top: 2rem;
    margin-bottom: .5rem;
}

.dom-title-2 {
    color: black;
    font-size: 1.5rem;
    margin-top: 2rem;
    margin-bottom: .5rem;
}

.dom-title-3 {
    color: black;
    font-size: 1.5rem;
    margin-top: 2rem;
    margin-bottom: .5rem;
}

.dom-list {
    list-style-type: none;
    margin-top: 1rem;
}

.js-dom-img {

}

.m-js-dom-img {
    display: none;
}

@media (max-width:768px) {
    .js-dom-img {
        display: none;
    }
    
    .m-js-dom-img {
        display: block;
        margin-left: -3.5rem;

    }
}


/* Functions */

.function-intro {
    font-size: 1.4rem;
    color: black;
    line-height: 1.5;
    margin-left: 12rem;
    margin-right: 12rem;
    margin-top: 4rem;
    margin-bottom: 2.5rem;
}

@media (max-width:768px) {
    .function-intro {
        width: 90%;
        margin-left: 1.5rem;
    }
}

.anatomy-title {
    color: black;
    font-size: 1.5rem;
    margin-left: 12rem;
}

.anatomy-list-container {
    color: black;
    margin-left: 12rem;
    margin-right: 12rem;
    font-size: 1.4rem;
    margin-top: 2rem;
}

.anatomy-list {
    margin-top: 2rem;
    line-height: 1.5;
}

@media (max-width:768px) {
    .anatomy-title {
        margin-left: 1.5rem;
    }
    .anatomy-list-container {
        width: 90%;
        margin-left: 1.5rem;
        list-style-type: none;
    }
}

.create-function-title {
    color: black;
    font-size: 1.5rem;
    margin-left: 12rem;
    margin-top: 3rem;
}


.function-declaration-title {
    color: black;
    font-size: 1.5rem;
    margin-left: 12rem;
}

.function-declaration {
    color: black;
    margin-left: 12rem;
    margin-right: 12rem;
    font-size: 1.4rem;
    margin-top: 1rem;
    line-height: 1.5;
}

.function-declaration-img {
    margin-left: 12rem;
    margin-top: .5rem;
}


@media (max-width:768px) {
    .create-function-title {
        margin-left: 1.5rem;
    }
    .function-declaration-title {
        margin-left: 1.5rem;
    }
    .function-declaration {
        width: 90%;
        margin-left: 1.5rem;
    }

    .function-declaration-img {
        margin-left: -3rem;
        margin-top: .5rem;
    }
    
}

.arguments {
  

}

.function-expression-title {
    color: black;
    font-size: 1.5rem;
    margin-left: 12rem;
}

.function-expression {
    color: black;
    margin-left: 12rem;
    margin-right: 12rem;
    font-size: 1.4rem;
    margin-top: 1rem;
    line-height: 1.5;
}

.function-expression-img {
    margin-left: 12rem;
    margin-top: .5rem;
}

.m-function-expression-img {
    display: none;
}

@media (max-width:768px) {
    .function-expression-img {
        display: none;
    }

    .m-function-expression-img {
       display: block;
       margin-left: -2rem;
    }
}

@media (max-width:768px) {

    .function-expression-title {
        margin-left: 1.5rem;
    }
    .function-expression {
        width: 90%;
        margin-left: 1.5rem;
    }
}


.arrow-function-title {
    color: black;
    font-size: 1.5rem;
    margin-left: 12rem;
}

.arrow-function {
    color: black;
    margin-left: 12rem;
    margin-right: 12rem;
    font-size: 1.4rem;
    margin-top: 1rem;
    line-height: 1.5;
}

.arrow-function-img {
    margin-left: 12rem;
    margin-top: .5rem;
}

.m-arrow-function-img {
    display: none;
}

@media (max-width:768px) {
    .arrow-function-title{
        margin-left: 1.5rem;
    }
    .arrow-function {
        width: 90%;
        margin-left: 1.5rem;
    }
    .arrow-function-img {
        display: none;
    }
    
    .m-arrow-function-img {
        display: block;
        margin-left: -1.8rem;
    }
}

.function-action-title {
    margin-left: 12rem;
    color: black;
    margin-top: 1rem;
    margin-bottom: -1rem;
}

.function-action {
    color: black;
    margin-left: 12rem;
    margin-right: 12rem;
    font-size: 1.4rem;
    line-height: 1.5;
}

.function-action-img {
    margin-left: 12rem;
    margin-top: .5rem;
}

.m-function-action-img {
    display: none;
}

@media (max-width:768px) {
    .function-action-title {
        margin-left: 1.5rem;
    }
    .function-action {
        width: 90%;
        margin-left: 1.5rem;
    }
    .function-action-img {
        display: none;
    }
    
    .m-function-action-img {
        display: block;
        margin-left: -2rem;
        margin-top: .5rem;
    }
}


.scope-title {
    color: black;
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
}

.scope-main {
    color: black;
    margin-top: 2rem;
    font-size: 1.4rem;
    margin-left: 12rem;
    margin-right: 12rem;
    line-height: 1.5;
}

.scope-line {
    margin-left: 12rem;
    margin-right: 12rem;
}

.global-scope-title {
    color: black;
    font-size: 1.5rem;
    margin-left: 12rem;
}

.global-list {
    font-size: 1.4rem;
    margin-left: 12rem;
    margin-right: 12rem;
    margin-top: 1rem;
    list-style-type: none;
}

.global-scope-img {
    margin-left: 12rem;
    margin-top: .5rem;
}

.m-global-scope-img {
    display: none;
}

@media (max-width:768px) {
    .global-scope-img {
       display: none;
    }
    
    .m-global-scope-img {
        display: block;
        margin-top: .5rem;
        margin-left: -2.2rem;
    }
}


.local-scope-title {
    color: black;
    font-size: 1.5rem;
    margin-left: 12rem;
}

.local-scope-list {
    font-size: 1.4rem;
    margin-left: 12rem;
    margin-right: 12rem;
    margin-top: 1rem;
    list-style-type: none;
}

.local-scope-img {
    margin-left: 12rem;
    margin-top: .5rem;
}

.m-local-scope-img {
    display: none;
}

@media (max-width:768px) {
    .global-scope-title, .local-scope-title {
        margin-left: 1.5rem;
    }

    .scope-main, .global-list, .local-scope-list {
        width: 90%;
        margin-left: 1.5rem;
    }

    .local-scope-img {
       display: none;
    }
    
    .m-local-scope-img {
        display: block;
        margin-left: -2rem;
        margin-top: .5rem;
    }
}

.closures-title {
    color: black;
    font-size: 1.5rem;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.closure-main {
    margin-top: 2rem;
    margin-left: 12rem;
    margin-right: 12rem;
    color: black;
    font-size: 1.4rem;
    line-height: 1.5;
}

.closure-line {
    margin-left: 12rem;
    margin-right: 12rem;
}

.closure-img {
    margin-left: 12rem;
    margin-top: .5rem;
}

.m-closure-img {
    display: none;
}

@media (max-width:768px) {
    .closure-main {
        width: 90%;
        margin-left: 1.5rem;
    }

    .closure-img {
      display: none;
    }

    .m-closure-img {
        display: block;
        margin-left: -2rem;
        margin-top: .5rem;
    }
}

.higher-functions-title {
    color: black;
    font-size: 1.5rem;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.higher-function-main {
    margin-left: 12rem;
    margin-right: 12rem;
    color: black;
    font-size: 1.4rem;
    line-height: 1.5;
}

.hof-line {
    margin-left: 12rem;
    margin-right: 12rem;
}

@media (max-width:768px) {
    .higher-function-main {
        width: 90%;
        margin-left: 1.5rem;
 }
}

.common-higher-function-title {
    color: black;
    font-size: 1.4rem;
    margin-left: 12rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
}


.common-higher-functions {
    line-height: 1.5;
    margin-left: 12rem;
    margin-right: 12rem;
    color: black;
    font-size: 1.4rem;
}

@media (max-width:768px) {
    .common-higher-function-title {
        margin-left: 1.5rem;
    }
    .common-higher-functions {
       width: 90%;
       margin-left: 1.5rem;
    }
}


.m-mapfunction-img {
    display: none;
}

@media (max-width:768px) {
    .mapfunction-img {
        display: none;
    }
    .m-mapfunction-img {
        display: block;
        margin-left: -3.7rem;
        margin-top: .5rem;
    }
}

.m-filterfunction-img {
    display: none;
}

@media (max-width:768px) {
    .filterfunction-img {
        display: none;
    }
    .m-filterfunction-img {
        display: block;
        margin-left: -3.7rem;
        margin-top: .5rem;
    }
}

.m-reducefunction-img {
    display: none;
}

@media (max-width:768px) {
    .reducefunction-img {
        display: none;
    }
    .m-reducefunction-img {
        display: block;
        margin-left: -3.7rem;
        margin-top: .5rem;
    }
}



/* If Statements */

.ifstate-main {
    margin-top: 3rem;
    line-height: 1.5;
    margin-left: 12rem;
    margin-right: 12rem;
    font-size: 1.4rem;
}

@media (max-width:768px) {
    .ifstate-main {
        width: 90%;
        margin-left: 1.5rem;
        margin-top: 2rem;
    }
}


.examine-component-title {
    color: black;
    margin-left: 12rem;
}

.examine-component-container {
    font-size: 1.4rem;
    line-height: 1.5;
    margin-left: 12rem;
}

.ifstate-img {
    margin-left: 12rem;
    margin-top: .5rem;
}

.m-ifstate-img {
    display: none;
}

@media (max-width:768px) {
    .examine-component-title {
        color: black;
        margin-left: 1.5rem;
    }
    
    .examine-component-container {
        width: 90%;
        margin-left: 1.5rem;
    }

    .ifstate-img {
        display: none;
    }
    
    .m-ifstate-img {
        display: block;
        margin-left: -2.5rem;
        margin-top: .5rem;
    }
}


.ifstate-list {
    list-style-type: none;
    margin-top: 1rem;
}

 
.howifstate-title {
    margin-left: 12rem;
    color: black;
    font-size: 1.5rem;
    margin-top: 3rem;
}

.howifstate-container {
    margin-left: 12rem;
    color: black;
    font-size: 1.4rem;
    line-height: 1.5;
}

@media (max-width:768px) {
    .howifstate-title {
        margin-left: 1.5rem;
    }
    
    .howifstate-container {
        width: 90%;
        margin-left: 1.5rem;

    
    }
    
}

.advanceduseage-title {
    color: black;
    margin-left: 12rem;
    margin-bottom: -1.5rem;
    margin-top: 2rem;

}

.advanceifstatement {
    font-size: 1.4rem;
    line-height: 1.5;
    margin-left: 12rem;
    margin-right: 12rem;
}

@media (max-width:768px) {
    .advanceifstatement {
       margin-left: 1.5rem;
       width: 90%;
    }
    .advanceduseage-title {
        color: black;
        margin-left: 1.5rem;
        margin-bottom: -1.5rem;
        margin-top: 1.5rem;
    }
}

.adifstate-img {
    margin-left: 12rem;
}

.m-adifstate-img {
    display: none;
}

@media (max-width:768px) {
    .adifstate-img {
        display: none;
    }
    
    .m-adifstate-img {
        display: block;
        margin-left: -2rem;
    }
}

.ifstateaction-title {
    color: black;
    margin-left: 12rem;
    font-size: 1.5rem;
    margin-top: 2rem;
}

.ifstate-action {
    margin-top: -1.5rem;
    line-height: 1.5;
    font-size: 1.4rem;
    margin-left: 12rem;
    margin-right: 12rem;

}

.ifstateex-img {
    margin-left: 12rem;
    margin-bottom: 3rem;
}

.m-ifstateex-img {
    display: none;
}

@media (max-width:768px) {
    .ifstateaction-title {
        margin-left: 1.5rem;
    }
    
    .ifstate-action {
       width: 90%;
       margin-left: 1.5rem;
    }

    .ifstateex-img {
        display: none;
    }
    
    .m-ifstateex-img {
        display: block;
        margin-left: -2rem;
        margin-bottom: 3rem;
    }
}


.m-ifstatetemp-img {
    display: none;
}

@media (max-width:768px) {
    .ifstatetemp-img {
        display: none;
    }
    
    .m-ifstatetemp-img {
        display: block;
        margin-left: -3.7rem;
    }
}



/* Loops */

.loops-line {
    margin-left: 12rem;
    margin-right: 12rem;
}

.loops-title {
    color: black;
    font-size: 1.5rem;
    text-align: center;
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.loops-main {
    color: black;
    font-size: 1.4rem;
    margin-left: 12rem;
    margin-right: 12rem;
    margin-top: 2rem;
    line-height: 1.5;
}


.loopstype-title {
    margin-left: 12rem;
    color: black;
    font-size: 1.5rem;
}

.forloop-title {
    color: black;
    font-size: 1.5rem;
    margin-left: 12rem;
}

.forloop-main {
    margin-left: 12rem;
    margin-right: 12rem;
    line-height: 1.5;
    font-size: 1.4rem;
    margin-top: -.5rem;
}


.m-forloop-img {
    display: none;
}

@media (max-width:768px) {
    .loops-main {
        width: 90%;
        margin-left: 1.5rem;
        margin-top: 1.5rem;
    }
    .forloop-img {
       display: none;
    }
    
    .m-forloop-img {
        display: block;
        margin-left: -3.8rem;
    }
    .loopstype-title {
       margin-left: 1.5rem;
    }

    .forloop-img {
        margin-left: -4rem;
    }

    .forloop-main {
        width: 90%;
        margin-left: 1.5rem;
    }
}



.objectlooptypes-title {
    color: black;
    font-size: 1.5rem;
    margin-left: 12rem;
    margin-top: 2rem;
}

.objectloops-main {
    margin-left: 12rem;
    margin-right: 12rem;
    font-size: 1.4rem;
    line-height: 1.5;

}

@media (max-width:768px) {
    .objectlooptypes-title {
        margin-left: 1.5rem;
    }
    .objectloops-main {
        width: 90%;
        margin-left: 1.5rem;
    }
}


.m-forinloop-img {
    display: none;
}

@media (max-width:768px) {
    .forinloop-img {
       display: none;
    }
    
    .m-forinloop-img {
        display: block;
        margin-left: -3.8rem;
    }
}

.m-forofloop-img {
    display: none;
}

@media (max-width:768px) {
    .forofloop-img {
       display: none;
    }
    
    .m-forofloop-img {
        display: block;
        margin-left: -3.5rem;
    }
}

.m-forloopexamp-img {
    display: none;
}

@media (max-width:768px) {
    .forloopexamp-img {
       display: none;
    }
    
    .m-forloopexamp-img {
        display: block;
        margin-left: -3.8rem;
    }
}

.m-forinloopexamp-img {
    display: none;
}

@media (max-width:768px) {
    .forinloopexamp-img {
       display: none;
    }
    
    .m-forinloopexamp-img {
        display: block;
        margin-left: -3.1rem;
    }
}

.objectloop-action {
    color: black;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    margin-top: 2rem;

}

@media (max-width:768px) {
    .objectloop-action {
        margin-left: .5rem;
        margin-bottom: 1rem;
        margin-top: 2rem;
        
    }
    
}





/* Arrays */

.arrays-main {
    font-size: 1.4rem;
    margin-left: 12rem;
    margin-right: 12rem;
    line-height: 1.5;
    margin-top: 3rem;
}

@media (max-width:768px) {
    .arrays-main {
        margin-left: 1.5rem;
        width: 90%;
    }
}

.array-list {
    list-style-type: none;
    margin-top: 1rem;
}

.array-create-title {
    font-size: 1.5rem;
    color: black;
    text-align: center;
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.array-main-create {
    margin-bottom: -2rem;
    font-size: 1.5rem;
}

.m-arrliteral-img {
    display: none;
}

.m-arrconstructor-img {
    display: none;
}

@media (max-width:768px) {
    .arrliteral-img {
        display: none;
    }

    .arrconstructor-img {
        display: none;
    }
    
    .m-arrliteral-img {
        display: block;
        margin-left: -4rem;
    }
    
    .m-arrconstructor-img {
        display: block;
        margin-left: -4rem;
    }

    .arrempty-img {
        display: block;
        margin-left: -4.5rem;
    }
}


.array-methods-title {
    font-size: 1.4rem;
    color: black;
    text-align: center;
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.arrmethods-main {
    margin-top: 2rem;
    margin-bottom: -2rem;
}


.m-arrpush-img {
    display: none;
}

.m-arrpop-img {
    display: none;
}

@media (max-width:768px) {
    .arrpush-img {
        display: none;
    }
    
    .m-arrpush-img {
        display: block;
        margin-left: -4rem;
    }
}


@media (max-width:768px) {
    .arrpop-img {
        display: none;
    }
    
    .m-arrpop-img {
        display: block;
        margin-left: -3.5rem;
    }
}


.m-arrshift-img {
    display: none;
}

@media (max-width:768px) {
    .arrshift-img {
        display: none;
    }
    
    .m-arrshift-img {
        display: block;
        margin-left: -3rem;
    }
}


.m-arrunshift-img {
    display: none;
}

@media (max-width:768px) {
    .arrunshift-img {
        display: none;
    }
    
    .m-arrunshift-img {
        display: block;
        margin-left: -3rem;
    }
}


.m-arrsort-img {
    display: none;
}

@media (max-width:768px) {
    .arrsort-img {
        display: none;
    }
    
    .m-arrsort-img {
        display: block;
        margin-left: -3rem;
    }
}


.m-arrconcat-img {
    display: none;
}

@media (max-width:768px) {
    .arrconcat-img {
        display: none;
    }
    
    .m-arrconcat-img {
        display: block;
        margin-left: -3rem;
    }
}


.m-arrslice-img {
    display: none;
}

@media (max-width:768px) {
    .arrslice-img {
        display: none;
    }
    
    .m-arrslice-img {
        display: block;
        margin-left: -3rem;
    }
}

.m-arrsplice-img {
    display: none;
}

@media (max-width:768px) {
    .arrsplice-img {
        display: none;
    }
    
    .m-arrsplice-img {
        display: block;
        margin-left: -3rem;
    }
}





.array-data-title {
    font-size: 1.4rem;
    color: black;
    text-align: center;
    margin-top: .5rem;
    margin-bottom: .5rem;
}


.arrdata-main {
    margin-top: 2rem;
    margin-bottom: -2rem;
}


.m-arrlength-img {
    display: none
}

@media (max-width:768px) {
    .arrlength-img {
        display: none;
    }
    
    .m-arrlength-img {
        display: block;
        margin-left: -4rem;
    }
}


.array-loops-title {
    font-size: 1.4rem;
    color: black;
    margin-top: .5rem;
    margin-bottom: .5rem;
}



.m-arrloop-img {
    display: none
}

@media (max-width:768px) {
    .arrloop-img {
        display: none;
    }
    
    .m-arrloop-img {
        display: block;
        margin-left: -3.5rem;
    }
}


.m-arrforof-img {
    display: none;
}

@media (max-width:768px) {
    .arrforof-img {
        display: none;
    }
    
    .m-arrforof-img {
        display: block;
        margin-left: -3.5rem;
    }
}


.m-arrforeach-img {
    display: none;
}

@media (max-width:768px) {
    .arrforeach-img {
        display: none;
    }
    
    .m-arrforeach-img {
        display: block;
        margin-left: -3.5rem;
    }
}


.array-zero-title {
    font-size: 1.4rem;
    color: black;
    text-align: center;
    margin-top: .5rem;
    margin-bottom: .5rem;
}


.m-arrindex-img {
    display: none;
}

@media (max-width:768px) {
    .arrindex-img {
        display: none;
    }
    
    .m-arrindex-img {
        display: block;
        margin-left: -3.5rem;
    }
}




.arrindex-main {
    margin-top: 2rem;
}

.array-destructing-title {
    font-size: 1.4rem;
    color: black;
    text-align: center;
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.arrdestructoring-main {
    margin-top: 2rem;
}


.m-arrdest-img {
    display: none;
}

@media (max-width:768px) {
    .arrdest-img {
        display: none;
    }
    .m-arrdest-img {
        display: block;
        margin-left: -3.8rem;
    }

}


.multi-array-title {
    font-size: 1.4rem;
    color: black;
    text-align: center;
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.arrmulti-main {
    margin-top: 2rem;
    margin-bottom: -2rem;
}

@media (max-width:768px) {
    .arrmulti-img {
        display: block;
        margin-left: -1.5rem;
    }
}



.m-accesselement-img {
    display: none;
}

@media (max-width:768px) {
    .accesselement-img {
        display: none;
    }

    .m-accesselement-img {
        display: block;
        margin-left: -3.7rem;
    }
}


.m-modifyelements-img { 
    display: none;
}

@media (max-width:768px) {
    .modifyelements-img {
        display: none;
    }

    .m-modifyelements-img  {
        display: block;
        margin-left: -3.7rem;
    }
}



.m-loopthroughelements-img {
    display: none;
}

@media (max-width:768px) {
    .loopthroughelements-img {
        display: none;
    }

    .m-loopthroughelements-img {
        display: block;
        margin-left: -3.7rem;
    }
}


.m-higherdimension-img {
    display: none;
}

@media (max-width:768px) {
    .higherdimension-img {
        display: none;
    }

    .m-higherdimension-img  {
        display: block;
        margin-left: -3.7rem;
    }
}



.mutable-arrays-title {
    font-size: 1.4rem;
    color: black;
    text-align: center;
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.mutable-main {
    margin-top: 2rem;
    margin-bottom: -2rem;
}


.m-arrmutable-img {
      display: none;
}

@media (max-width:768px) {
    .arrmutable-img {
        display: none;
    }

    .m-arrmutable-img  {
        display: block;
        margin-left: -3.8rem;
    }
}


.m-arrimutable-img {
    display: none;
}

@media (max-width:768px) {
    .arrimutable-img {
      display: none;
  }

  .m-arrimutable-img  {
      display: block;
      margin-left: -3.8rem;
  }
}

.spread-array-title {
    font-size: 1.4rem;
    color: black;
    text-align: center;
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.spread-main {
    margin-top: 2rem;
    margin-bottom: -2rem;
}


.m-arrspread-img {
    display: none;
}

@media (max-width:768px) {
    .arrspread-img {
      display: none;
  }

  .m-arrspread-img  {
      display: block;
      margin-left: -3.8rem;
  }
}

.m-arrmergespread-img {
    display: none;
}

@media (max-width:768px) {
    .arrmergespread-img {
      display: none;
  }

  .m-arrmergespread-img  {
      display: block;
      margin-left: -3.8rem;
  }
}


.m-arraddspread-img {
    display: none;
}

@media (max-width:768px) {
    .arraddspread-img {
      display: none;
  }

  .m-arraddspread-img  {
      display: block;
      margin-left: -3.8rem;
  }
}


.m-arrfuncspread-img {
    display: none;
}

@media (max-width:768px) {
    .arrfuncspread-img {
      display: none;
  }

  .m-arrfuncspread-img  {
      display: block;
      margin-left: -3.8rem;
  }
}


.m-arrconvert-img {
    display: none;
}

@media (max-width:768px) {
    .arrconvert-img {
      display: none;
  }

  .m-arrconvert-img  {
      display: block;
      margin-left: -3.6rem;
  }
}

.arraction-main {
    margin-top: 2rem;
    margin-bottom: -2rem;
}

.m-arraction-img {
    display: none;
}

@media (max-width:768px) {
    .arraction-img {
      display: none;
  }

  .m-arraction-img  {
      display: block;
      margin-left: -3.8rem;
  }
}

.array-action-title {
    font-size: 1.4rem;
    color: black;
    text-align: center;
    margin-top: .5rem;
    margin-bottom: .5rem;
}



/* Objects */

.object-oriented-main {
    font-size: 1.4rem;
    margin-left: 12rem;
    margin-right: 12rem;
    line-height: 1.5;
    margin-top: 3rem;
    margin-bottom: 2rem;
}

@media (max-width:768px) {
    .object-oriented-main {
        width: 90%;
        margin-left: 1.5rem;
    }
}


.create-objects-title {
    color: black;
    font-size: 1.5rem;
    margin-top: .5rem;
    margin-bottom: .5rem;
    text-align: center;
}

@media (max-width:768px) {
    .oopbasics-img {
        display: block;
        margin-left: -5.5rem;
    }
}


.m-oopaccess-img {
    display: none;
}

@media (max-width:768px) {
    .oopaccess-img {
        display: none;
    }
    .m-oopaccess-img {
        display: block;
        margin-left: -3.7rem;
    }
}


.m-oopupdate-img {
    display: none;
}

@media (max-width:768px) {
    .oopupdate-img {
        display: none;
    }
    .m-oopupdate-img {
        display: block;
        margin-left: -3.7rem;
    }
}


.object-intro {
    margin-top: -3rem;
    margin-bottom: .5rem;
}

.methods-title {
    color: black;
    font-size: 1.5rem;
    margin-top: .5rem;
    margin-bottom: .5rem;
    text-align: center;
}

.methods-main {
    margin-top: -2rem;
    margin-bottom: .5rem;
}

.oopmethods-img {
    margin-bottom: 3rem;
}
.m-oopmethods-img {
    display: none;
}

@media (max-width:768px) {
    .oopmethods-img {
        display: none;
    }
    .m-oopmethods-img {
        display: block;
        margin-left: -3.7rem;
        margin-bottom: 2rem;
    }
}


.constructor-function-title {
    font-size: 1.4rem;
    color: black;
    text-align: center;
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.constructorfunction-main {
    margin-top: 2rem;
}

.m-constructorclass-img {
    display: none;
}

@media (max-width:768px) {
    .constructorclass-img{
        display: none;
    }
    .m-constructorclass-img{
        display: block;
        margin-left: -3.7rem;
        margin-bottom: 2rem;
    }
}

.m-oopinstances-img {
    display: none;
}

@media (max-width:768px) {
    .oopinstances-img{
        display: none;
    }
    .m-oopinstances-img{
        display: block;
        margin-left: -3.7rem;
        margin-bottom: 2rem;
    }
}

.m-oopindepen-img {
    display: none;
}

@media (max-width:768px) {
    .oopindepen-img{
        display: none;
    }
    .m-oopindepen-img{
        display: block;
        margin-left: -3.7rem;
        margin-bottom: 2rem;
    }
}


.m-oopinheritance-img {
    display: none;
}

@media (max-width:768px) {
    .oopinheritance-img{
        display: none;
    }
    .m-oopinheritance-img{
        display: block;
        margin-left: -3.7rem;
        margin-bottom: 2rem;
    }
}

.m-oopencaps-img {
    display: none;
}

@media (max-width:768px) {
    .oopencaps-img{
        display: none;
    }
    .m-oopencaps-img{
        display: block;
        margin-left: -3.7rem;
        margin-bottom: 2rem;
    }
}



/* API's */

.ajax-main {
    font-size: 1.4rem;
    color: black;
    margin-left: 12rem;
    margin-right: 12rem;
    margin-top: 3rem;
    line-height: 1.5;
}

@media (max-width:768px) {
    .ajax-main {
        width: 90%;
        margin-left: 1.5rem;
    }
}

.m-jscallbacks-img {
    display: none;
}

@media (max-width:768px) {
    .jscallbacks-img{
        display: none;
    }
    .m-jscallbacks-img{
        display: block;
        margin-left: -3rem;
        margin-bottom: 2rem;
    }
}


.m-jspromises-img {
    display: none;
}

@media (max-width:768px) {
    .jspromises-img{
        display: none;
    }
    .m-jspromises-img{
        display: block;
        margin-left: -3rem;
        margin-bottom: 2rem;
    }
}

.async-title {
    font-size: 1.5rem;
    color: black;
    text-align: center;
}


.m-jsasyncawait-img {
    display: none;
}

@media (max-width:768px) {
    .jsasyncawait-img{
        display: none;
    }
    .m-jsasyncawait-img{
        display: block;
        margin-left: -3rem;
        margin-bottom: 2rem;
    }
}


.api-title {
    margin-top: .5rem;
    margin-bottom: .5rem;
    font-size: 1.5rem;
    color: black;
    text-align: center;
}

.api-main {
    margin-top: 2rem;
}

.api-list {
    list-style-type: none;
    margin-left: -.2rem;
}

.m-jsapi-img {
    display: none;
}

@media (max-width:768px) {
    .jsapi-img{
        display: none;
    }
    .m-jsapi-img{
        display: block;
        margin-left: -3rem;
        margin-bottom: 2rem;
    }
}




/* Modules */

.modules-main {
    font-size: 1.4rem;
    color: black;
    margin-top: 3rem;
    margin-left: 12rem;
    margin-right: 12rem;
    line-height: 1.5
}

@media (max-width:768px) {
    .modules-main {
       width: 90%;
       margin-left: 1.5rem;
    }
}

.modules-key-title {
    color: black;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    margin-top: 3rem;
}

.modules-benefits-title {
    color: black;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.modules-list {
    margin-top: 1rem;
    list-style-type: none;
}


.modules-type {
    margin-bottom: 1.5rem;
}


.module-type-list {
    margin-top: 2rem;
    list-style-type: none;
}

.m-jsmodules-img {
    display: none;
}

@media (max-width:768px) {
    .jsmodules-img{
        display: none;
    }
    .m-jsmodules-img{
        display: block;
        margin-left: -1rem;
        margin-bottom: 2rem;
    }
}

.m-esmodules-img {
    display: none;
}

@media (max-width:768px) {
    .esmodules-img{
        display: none;
    }
    .m-esmodules-img{
        display: block;
        margin-left: -1rem;
        margin-bottom: 2rem;
    }
}

.modules-title-named {
    margin-top: .5rem;
    margin-bottom: .5rem;
    font-size: 1.5rem;
    color: black;
    text-align: center;
}

.namedexports-main {
    margin-top: 2rem;
}


.m-nexportexample-img {
    display: none;
}

@media (max-width:768px) {
    .nexportexample-img {
        display: none;
    }
    .m-nexportexample-img {
        display: block;
        margin-left: -1rem;
        margin-bottom: 2rem;
    }
}


.m-dexportexample-img {
    display: none;
}

@media (max-width:768px) {
    .dexportexample-img {
        display: none;
    }

    .m-dexportexample-img {
        display: block;
        margin-left: -1rem;
        margin-bottom: 2rem;
    }
}

.encapsulation-main {
    margin-top: 2rem;
}

.m-jsencapsulation-img {
    display: none;
}

@media (max-width:768px) {
    .jsencapsulation-img {
        display: none;
    }

    .m-jsencapsulation-img {
        display: block;
        margin-left: -1rem;
        margin-bottom: 2rem;
    }
}
