* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.js-logo {
    margin-left: -3rem;
}

.js-intro-title {
    margin-top: -8.5rem;
}

.javascript-blog .heading {
    text-decoration: underline;
    margin-top: -3rem
}

.javascript-blog .javascript-blog-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 5rem;
    margin-top: 2rem;
}

.javascript-blog .javascript-blog-container .javascript-blog-info {
    margin-top: 5rem;
    overflow: hidden;
    width: 25rem;
    /* border-radius: .5rem; */
    /* box-shadow: 0 .3rem .5rem rgba(0,0,0,.3); */
}

.javascript-blog .javascript-blog-container .javascript-blog-info img {
    height: 21rem;
    width: 100%;
    margin-left: -2rem;
    object-fit: contain;
}

.javascript-blog .javascript-blog-container span {
    color: grey;
    font-size: 1rem;
    display: block;
    padding: 1rem 0;
}

.javascript-blog .javascript-blog-container h3 {
    font-size: 1.5rem;
    color: black;
}

/* .javascript-blog .javascript-blog-container p {
    font-size: .5rem;
    color: black;
    width: 100%;
    margin-bottom: 1.5rem;
} */

.javascript-blog .javascript-blog-container .button {
  margin-top: 1.5rem;  
  margin-bottom: 1.2rem;
  padding: 1rem 2rem;
  border-radius: .5rem;
  color: white;
  background: black;
}

.javascript-blog .javascript-blog-container .button:hover {
    background: orange;
    color: black;
    transition: 1s;
  }

.javascript-blog .javascript-blog-container .javascript-blog-description {
    font-size: 1.2rem;
    margin-top: .5rem;
    margin-right: 5rem;
    line-height: 1.5;
}


.javascript-blog .javascript-blog-container .js-blog-title {
    font-size: 1.5rem;
    color: black;
}

.js-post-title {
    font-size: 1.5rem;
    color: black;
    text-align: center;
    margin-top: 7rem;
}

.js-post-info {
    margin-top: 2rem;
    margin-left: 15rem;
}

.js-post-date {
    margin-left: 46rem;
}


.js-main {
    font-size: 1.2rem;
    margin-left: 12rem;
    margin-right: 12rem;
    margin-top: 5rem;
    line-height: 1.5;
}


@media (max-width: 768px) {
    .js-main {
      width: 90%;
      margin-left: 2rem;
      margin-top: ;
    }
    .js-post-date {
        margin-left: 16rem;
    }
    .js-post-author {
        margin-left: -12rem;
}
}

/* Dom */

.dom-title {
    color: black;
    font-size: 1.5rem;
    margin-bottom: .5rem;
    text-align: center;
}

.dom-title-1 {
    color: black;
    font-size: 1.5rem;
    margin-top: 2rem;
    margin-bottom: .5rem;
}

.dom-title-2 {
    color: black;
    font-size: 1.5rem;
    margin-top: 2rem;
    margin-bottom: .5rem;
}

.dom-title-3 {
    color: black;
    font-size: 1.5rem;
    margin-top: 2rem;
    margin-bottom: .5rem;
}


/* Functions */

.scope-title {
    color: black;
    font-size: 1.5rem;
    text-align: center;
}

.higher-functions-title {
    color: black;
    font-size: 1.5rem;
}

.closures-title {
    color: black;
    font-size: 1.5rem;
    text-align: center;
}

/* If Statements */

/* Loops */

.loops-title {
    color: black;
    font-size: 1.5rem;
    text-align: center;
}

/* API's */

.api-title {
    font-size: 1.5rem;
    color: black;
    text-align: center;
}

.async-title {
    font-size: 1.5rem;
    color: black;
    text-align: center;
}