* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.css-blog .heading {
    text-decoration: underline;
    margin-top: -3rem
}

.css-blog .css-blog-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 5rem;
    margin-top: 2rem;
}

.css-blog .css-blog-container .css-blog-info {
    margin-top: 5rem;
    margin-left: 2rem;
    width: 25rem;
    overflow: hidden;
    /* border-radius: .5rem; */
    /* box-shadow: 0 .3rem .5rem rgba(0,0,0,.3); */
}

.css-blog .css-blog-container .css-blog-info img {
    height: 15rem;
    width: 100%;
    object-fit: cover;
}

.css-blog .css-blog-container span {
    color: grey;
    font-size: 1rem;
    display: block;
    padding: 1rem 0;
}

.css-blog .css-blog-container .css-blog-title {
    font-size: 1.5rem;
    color: black;
    margin-top: 1rem;
}

.css-blog .css-blog-container p {
    font-size: .5rem;
    color: black;
    width: 100%;
    margin-bottom: 1.5rem;
}

.css-blog .css-blog-container .button {
  margin-bottom: 1.2rem;
  padding: 1rem 2rem;
  border-radius: .5rem;
  color: white;
  background: black;
}

.css-blog .css-blog-container .button:hover {
    background: orange;
    color: black;
    transition: 1s;
  }

.css-blog .css-blog-container .css-blog-description {
    font-size: 1.2rem;
    margin-top: .5rem;
}

/* CSS Intro */

.css-post-title {
    color: black;
    font-size: 1.5rem;
    margin-top: 7rem;
    text-align: center;
}

.css-title {
    font-size: 1.5rem;
    color: black;
    margin-top: 2rem;

    
}


/* What is CSS */

.css-main {
    font-size: 1.4rem;
    line-height: 1.5;
    margin-top: 4rem;
    margin-bottom: -3rem;
    margin-left: 7rem;
    margin-right: 7rem;

}

@media (max-width:768px) {
    .css-main {
        width: 90%;
        margin-left: 1.6rem;
    }
}

.css-basics {
    font-size: 1.2rem;
    line-height: 1.5;
    
}

.css-post-info {
    display: flex;
    justify-content: center;
    gap: 25rem;
    margin-top: 2rem;
    margin-bottom: 2rem;

}

.list-container {
    margin-left: 1.3rem;
    margin-top: 1rem;
    font-size: 1.4rem;
}

.css-basics {
    /* margin: 0 10rem; */
}



/* Selectors */

.selectors-main {
    color: black;
    margin-top: 4rem;
    margin-left: 7rem;
    margin-right: 7rem;
    font-size: 1.4rem;
}

hr {
    margin-bottom: 2rem;
    margin-top: 1rem;
}


.eselector-img {
    margin-left: 7rem;
    margin-top: 1.5rem;
}

.eselector1-img {
    display: none;
}

@media(max-width:768px) {

    .selectors-main, .link-main {
        width: 90%;
        margin-left: 1.5rem;
    }

    .eselector-img {
        display: none;
    }
    
    .eselector1-img {
        display: block;
        margin-left: -3.3rem;
        margin-top: .5rem;
    }
}

.external-title {
    color: black;
    font-size: 1.5rem;
    margin-top: 4rem;
    margin-left: 7rem;
}

.external-main {
    color: black;
    margin-top: 1rem;
    margin-left: 7rem;
    margin-right: 7rem;
    font-size: 1.4rem;
}

.inline-main {
    color: black;
    margin-top: 1rem;
    margin-left: 7rem;
    margin-right: 7rem;
    font-size: 1.4rem;

}

.inline-title {
    color: black;
    font-size: 1.5rem;
    margin-top: 4rem;
    margin-left: 7rem;
}

.inline-img {
    margin-left: 7rem;
    margin-top: 1.5rem;
}

.m-inline-img {
    display: none;
}

@media(max-width:768px) {

   .inline-img {
        display: none;
    }
    
    .m-inline-img {
        display: block;
        margin-left: -3.3rem;
        margin-top: .5rem;
    }
}

.embedded-title {
    color: black;
    font-size: 1.5rem;
    margin-top: 4rem;
    margin-left: 7rem;
}

.embedded-main {
    color: black;
    margin-top: 1rem;
    margin-left: 7rem;
    margin-right: 7rem;
    margin-bottom: -1rem;
    font-size: 1.4rem;
}

.embedded-img {
    margin-left: 7rem;
    margin-bottom: 2rem;
}

.m-embedded-img {
    display: none;
}

@media (max-width: 768px) {
    .embedded-img {
      display: none;
    }
    
    .m-embedded-img {
        display: block;
    }
}

/* .linking {
    color: black;
    font-size: 22px;
    margin-top: 2.5rem;
    margin-bottom: 1rem;

} */



.selector-type-title {
    color: black;
    margin-bottom: 2rem;
    font-size: 1.5rem;
    text-align: center;
}

.element-title {
    color: black;
    font-size: 1.5rem;
    margin-left: 7rem;
    margin-top: 2rem;
}

.element-selector-main {
    color: black;
    font-size: 1.4rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 7rem;
    margin-right: 7rem;
}


.element-img {
    margin-left: 7rem;
}

.m-element-img {
    display: none;
}

@media (max-width: 768px) {
    .element-img {
      display: none;
    }
    
    .m-element-img {
        display: block;
    }
}

.class-selector-title {
    color: black;
    font-size: 1.5rem;
    margin-top: 2rem;
    margin-left: 7rem;
}

.class-selector-main {
    color: black;
    font-size: 1.4rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 7rem;
    margin-right: 7rem;
}


.class-selector-img {
    margin-left: 7rem;
}

.m-class-selector-img {
    display: none;
}


@media (max-width: 768px) {
    .class-selector-img  {
      display: none;
    }
    
    .m-class-selector-img {
        display: block;
    }
}



.id-selector-title {
    color: black;
    font-size: 1.5rem;
    margin-top: 2rem;
    margin-left: 7rem;
}

.id-selector-main {
    color: black;
    font-size: 1.4rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 7rem;
    margin-right: 7rem;
}

.id-selector-img {
    margin-left: 7rem;
}

.m-id-selector-img {
    display: none;
}

@media (max-width: 768px) {
    .id-selector-img  {
      display: none;
    }
    
    .m-id-selector-img {
        display: block;
    }
}

.descendant-selector-title {
    color: black;
    font-size: 1.5rem;
    margin-top: 2rem;
    margin-left: 7rem;
}

.descendant-selector-main {
    color: black;
    font-size: 1.4rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 7rem;
    margin-right: 7rem;
}

.descendant-selector-img {
    margin-left: 7rem;
}

.m-descendant-selector-img {
    display: none;
}

@media (max-width: 768px) {
    .descendant-selector-img  {
      display: none;
    }
    
    .m-descendant-selector-img {
        display: block;
    }
}


.child-selector-title {
    color: black;
    font-size: 1.5rem;
    margin-top: 2rem;
    margin-left: 7rem;
}

.child-selector-main {
    color: black;
    font-size: 1.4rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 7rem;
    margin-right: 7rem;
}

.child-selector-img {
    margin-left: 7rem;
}

.m-child-selector-img {
    display: none;
}

@media (max-width: 768px) {
    .child-selector-img  {
      display: none;
    }
    
    .m-child-selector-img {
        display: block;
    }
}

.attr-selector-title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    margin-left: 7rem;
    color: black;
}

.attr-selector-main {
    color: black;
    font-size: 1.4rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 7rem;
    margin-right: 7rem;
}

.attr-selector-img {
    margin-left: 7rem;
}

.m-attr-selector-img {
    display: none;
}

@media (max-width: 768px) {
    .attr-selector-img  {
      display: none;
    }
    
    .m-attr-selector-img {
        display: block;
    }
}

.pseduo-title {
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 3rem;
    color: black;
    text-align: center;
}

.selector-pseduo-title {
    color: black;
    font-size: 1.5rem;
    margin-bottom: 3rem;
    margin-left: 7rem;
}

.pseduo-hover-title {
    color: black;
    font-size: 1.5rem;
    margin-bottom: -.5rem;
    margin-left: 7rem;
}

.pseduo-intro {
    color: black;
    font-size: 1.4rem;
    margin-top: 1rem;
    margin-bottom: .5rem;
    margin-left: 7rem;
    margin-right: 7rem;
}

.pseduo-selector-img {
    margin-left: 7rem;
}

.m-pseduo-selector-img {
    display: none;
}

@media (max-width: 768px) {
    .pseduo-selector-img {
      display: none;
    }
    
    .m-pseduo-selector-img {
        display: block;
    }
}

.pseduo-focus-title {
    color: black;
    font-size: 1.5rem;
    margin-left: 7rem;
    margin-bottom: -.5rem;
}

.selector-type-focus{
    color: black;
    font-size: 1.4rem;
    margin-top: 1rem;
    margin-bottom: .5rem;
    margin-left: 7rem;
    margin-right: 7rem;
    line-height: 1.5;
}

.focus-selector-img {
    margin-left: 7rem;
}


.m-focus-selector-img {
    display: none;
}


@media (max-width: 768px) {
    .focus-selector-img {
      display: none;
    }
    
    .m-focus-selector-img  {
        display: block;
    }
}

.pseduo-fl-title {
    color: black;
    font-size: 1.5rem;
    margin-top: 3rem;
    margin-bottom: -.5rem;
    margin-left: 7rem;
}

.fl-selector-main {
    color: black;
    font-size: 1.4rem;
    margin-top: 1rem;
    margin-bottom: .5rem;
    margin-left: 7rem;
    margin-right: 7rem;
    line-height: 1.5;
}

.fl-selector-img {
    margin-left: 7rem;
}


.m-fl-selector-img {
    display: none;
}


@media (max-width: 768px) {
    .fl-selector-img {
      display: none;
    }
    
    .m-fl-selector-img  {
        display: block;
    }
}

.pseduo-nth-title {
    color: black;
    font-size: 1.5rem;
    margin-left: 7rem;
    margin-top: 3rem;
    margin-bottom: -.5rem;
}

.nth-selector-main {
    color: black;
    font-size: 1.4rem;
    margin-top: 1rem;
    margin-bottom: .5rem;
    margin-left: 7rem;
    margin-right: 7rem;
    line-height: 1.5;
}

.nth-selector-img {
    margin-left: 7rem;
}


.m-nth-selector-img {
    display: none;
}

@media (max-width: 768px) {
    .nth-selector-img {
      display: none;
    }
    
    .m-nth-selector-img {
        display: block;
    }
}

.pseduo-ce-title {
    color: black;
    font-size: 1.5rem;
    margin-bottom: 2rem;
    text-align: center;
}



.selector-type-active {
    color: black;
    font-size: 1.2rem;
    margin-top: 2.5rem;
    margin-bottom: 1rem;
}


/* FlexBox */


/* BoxModel */


.boxmodel-main {
    font-size: 1.4rem;
    margin-left: 12rem;
    margin-right: 12rem;
    line-height: 1.5;
    margin-top: 3rem;
}

.boxmodel-img {
    margin-left: 3rem;
    margin-top: 1.5rem;
    margin-bottom: -2rem;
}

.m-boxmodel-img {
    display: none;
}

@media (max-width: 768px) {
    .boxmodel-main {
        width: 90%;
        margin-left: 2rem;
    }
    .boxmodel-img {
        display: none;
    }
    
    .m-boxmodel-img {
        display: block;
        margin-left: -1.5rem;
        margin-top: 1rem;
        margin-bottom: -2rem;
    }
    
}

.width-heigth-title {
    color: black;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
}


.layout-spacing-title {
    font-size: 1.5rem;
    color: black;
}

.spacing-list {
    margin-top: 2.5rem;
    margin-bottom: .5rem;
    list-style-type: none;
}

.content-img {
    margin-left: 4rem;
}

.m-content-img {
    display: none;
}

@media(max-width:768px) {
    .content-img {
        display: none;
    }
    .m-content-img {
        display: block;
        margin-left: -5rem;
        margin-top: -1rem;
    }
}


.padding-img {
    margin-left: 7rem;
}

.m-padding-img {
    display: none;
    margin-left: -13.5rem;
}

@media(max-width:768px) {
    .padding-img {
        display: none;
    }
    .m-padding-img {
        display: block;
        margin-left: -3.5rem;
        margin-top: -1rem;
    }
}

.border-img {
    margin-left: 7rem;
}

.m-border-img {
    display: none;
    margin-left: -16rem;
}

@media(max-width:768px) {
    .border-img {
        display: none;
    }
    .m-border-img {
        display: block;
        margin-left: -5rem;
    }
}

.border-radius-img {
    margin-left: 4rem;
}

.m-border-radius-img {
    display: none;
}

@media(max-width:768px) {
    .border-radius-img {
        display: none;
    }
    .m-border-radius-img {
        display: block;
        margin-left: -6rem;
    }
}

.margin-img {
    margin-left: 7rem;
}

.m-margin-img {
    display: none;
    margin-left: -13.5rem;
}

@media(max-width:768px) {
    .margin-img {
        display: none;
    }
    .m-margin-img {
        display: block;
        margin-left: -4rem;
    }
}


/* FlexBox */

.flexbox-title {
    font-size: 1.5rem;
    margin-top: 7rem;
    margin-bottom: 3rem;
    color: black;
    text-align: center;
}

.flexbox-main {
    font-size: 1.4rem;
    line-height: 1.5;
    margin-left: 12rem;
    margin-right: 12rem;
}

@media(max-width:768px) {

    .flexbox-main {
        width: 90%;
        margin-left: 1.5rem;
    }
}



.flexgrid-title {
    color: black;
    font-size: 1.4rem;
    margin-bottom: -1rem;
}

.flexbox-key-title {
    font-size: 1.5rem;
    color: black;
    margin-top: 1rem;
    margin-bottom: 2rem;
    text-align: center;
}

.flexbox-main-title {
    color: black;
    font-size: 1.4rem;
    margin-bottom: .5rem;
} 

.flex-list {
    margin-bottom: 1.5rem;
    margin-left: 2rem;
}

.flexbox-img {
    margin-left: 3rem;
}

.m-flexbox-img {
    display: none;
    margin-left: -13.5rem;
}

@media(max-width:768px) {

    .flex-list {
        margin-left: 1.5rem;
    }
    
    .flexbox-img {
        display: none;
    }
    .m-flexbox-img {
        display: block;
        margin-left: -2.5rem;
    }
}

.grid-main-title {
    color: black;
    margin-bottom: .5rem;
    font-size: 1.4rem;
}

.grid-title {
    font-size: 1.4rem;
    color: black;
    margin-bottom: 1.2rem;
    text-align: center;
}

.grid-list {
    margin-bottom: 1rem;

}

.grid-img {
    margin-left: 4rem;

}

.m-grid-img {
    display: none;
}


@media (max-width: 768px) {

    .grid-list {
        margin-left: 1rem;
    }

    .grid-img {
        display: none;
    }
    
    .m-grid-img {
        display: block;
        margin-left: -4.5rem;
    }
}



/* Responsive */

.mobile-main {
    font-size: 1.4rem;
    margin-left: 12rem;
    margin-right: 12rem;
    line-height: 1.5;
    margin-top: 3rem;
}

.metares {
    margin-left: -2rem;
}

.m-metares-img {
    display: none;
}

.mobile-img {
    margin-top: 1.5rem;
    margin-left: 12rem;
}

.m-mobile-img {
    display: none;
}


@media (max-width: 768px) {

    .mobile-main {
        width: 90%;
        margin-left: 1.5rem;
        margin-top: 2.5rem;
        line-height: 1.5;
    }

    .mobile-img { 
        display: none;
    }
    
    .m-mobile-img {
        display: block;
        
    }

    .m-metares-img {
        display: block;
        margin-left: -3.9rem;
        margin-top: 1rem;
    }

    .metares-img {
        display: none;
    }
    
}





/* Colors */

.colors-title {
    font-size: 1.4rem;
    margin-left: 12rem;
    margin-right: 12rem;
    margin-bottom: 2rem;
    margin-top: 4rem;
}

.colors-main {
    font-size: 1.4rem;
    margin-left: 12rem;
    margin-right: 12rem;
    line-height: 1.5;
}

.keyword-colors-title {
    font-size: 1.4rem;
    color: black;
    margin-bottom: .5rem;
}

.color-names-title {
    font-size: 1.4rem;
    color: black;
    margin-bottom: .5rem;
}

@media(max-width:768px) {

    .keyword-img {
        display: none;
    }
    .m-keyword-img {
        display: block;
        margin-left: -2rem;
    }

    .colors-title {
        width: 90%;
        margin-left: 2rem;
    }

    .colors-main {
        width: 90%;
        margin-left: 2rem;
 
    }
}

@media (max-width: 768px) {
    .color-names-title {
        margin-top: 1.5rem;
    }
    .rgb-colors-title {
        margin-top: 2rem;
      
    }
    .rgba-colors-title {
        margin-top: 1.5rem;
    }
    .hsl-colors-title {
        margin-top: 1.5rem;

    }
    .hsla-colors-title {
        margin-top: 1.5rem;
        margin-bottom: -2rem;
    }
}

.rgb-colors-title {
    font-size: 1.4rem;
    color: black;
    margin-bottom: .5rem;
}

.rgba-colors-title {
    font-size: 1.4rem;
    color: black;
    margin-bottom: .5rem;
}

.rgb-img {
    margin-bottom: 3rem;

}

.m-rgb-img {
    display: none;
}

@media (max-width:768px) {

    .rgb-img {
       display: none;
    
    }
    .m-rgb-img {
        display: block;
        margin-left: -5.8rem;
    }
}


.rgba-img {
    margin-bottom: 3rem;

}

.m-rgba-img {
    display: none;
}

@media (max-width:768px) {

    .rgba-img {
       display: none;
    
    }
    .m-rgba-img {
        display: block;
        margin-left: -5rem;
    }
}

.color-list {
    line-height: 1.5;
    list-style-type: none;
}

.colors-main .underline {
    background-color: lightgrey;
}

.keyword-img {
    margin-bottom: 2rem;
    margin-top: .5rem;
}

.m-keyword-img {
    display: none;
    margin-left: -14rem;
}


.hsl-title {
    color: black;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.hsla-title {
    color: black;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.hsl-colors-title {
    color: black;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.hsla-colors-title {
    color: black;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.hsl-img {
    margin-bottom: 3rem;

}

.m-hsl-img {
    display: none;
}

.hsla-img {

}

.m-hsla-img {

}

@media (max-width:768px) {

    .hsl-img {
       display: none;
    
    }
    .m-jsl-img {
        display: block;
        margin-left: -5rem;
    }
}


.gradient-title {
    font-size: 1.4rem;
    color: black;
    text-align: center;
    margin-top: -1rem;
}

.linear-title {
    color: black;
    font-size: 1.5rem;
    margin-bottom: .5rem;
}

.linear-img {
    margin-top: .5rem;

}

.m-linear-img {
    display: none;
}

@media(max-width:768px) {

    .linear-img {
        display: none;
    }
    
    .m-linear-img {
        display: block;
        margin-left: -5rem;
    }
}




.radial-title {
    color: black;
    font-size: 1.5rem;
    margin-bottom: .5rem;
    margin-top: 3rem;
}

.radial-img {
    margin-top: .5rem;

}

.m-radial-img {
    display: none;
}

@media(max-width:768px) {

    .radial-img {
        display: none;
    }
    
    .m-radial-img {
        display: block;
        margin-left: -3.5rem;
    }
}


.var-color-title {
    font-size: 1.4rem;
    color: black;
    text-align: center;
    margin-top: -.5rem;
}


.m-var-img {
    display: none;
    margin-left: -5rem;
}

@media(max-width:768px) {

    .var-img {
        display: none;
    }
    .m-var-img {
        display: block;
        margin-right: -1rem;
    }
}



/* Specificity */

.specificity-title {
    color: black;
    font-size: 1.5rem;
    margin-bottom: .5rem;
  
}

.specific-main {
    font-size: 1.4rem;
    margin-left: 12rem;
    margin-right: 12rem;
    margin-top: 3rem;
    line-height: 1.5;

}

@media (max-width:768px) {
    
    .specific-main {
        width: 90%;
        margin-left: 2rem;
    
    }
}


/* Multimedia */

 .media-main {
    margin-top: 4rem;
    font-size: 1.4rem;
    margin-left: 12rem;
    margin-right: 12rem;
    line-height: 1.5;
 }

 .media-img {
    margin-left: 1rem;
}

.m-media-img {
    display: none;
    margin-left: -5rem;
}

@media(max-width:768px) {
    .media-img {
        display: none;
    }
    .m-media-img {
        display: block;
        margin-left: -14.9rem;
    }

    .media-main {
        width: 100%;
    }
    .intro-media, .background, .sizing, .filtering, .borders, .opacity, .response {
        margin-left: -10.4rem;
        width: 90%;
    }
}



/* Animations */

.animations-main {
    font-size: 1.4rem;
    line-height: 1.5;
    margin-left: 12rem;
    margin-right: 12rem;
    margin-top: 3rem;
}

@media (max-width:768px) {
    .animations-main {
       margin-top: 3rem;
       width: 90%;
       margin-left: 1rem;
    }
}

.keyframes-title {
    color: black;
    font-size: 1.5rem;
    margin-top: 2rem;
}


.anime-run-title {
    font-size: 2rem;
    color: black;
    margin-bottom: 1.5rem;
    text-align: center;
}

.anime-line {
    width: 150%;
    margin-left: -12rem;
}


.transform-img {
    margin-top: 1rem;
    margin-bottom: 4rem;
}

@media(max-width:768px) {

    .transform-img {
        display: block;
    }
}


.three-d-anime {
    font-size: 1.5rem;
    color: black;
    margin-bottom: 1rem;
}

.anime-props {
    font-size: 1.5rem;
    color: black;
    margin-bottom: 1rem;
}

.anime-list-container{
    margin-top: 1rem;
    margin-left: .5rem;
}

.anime-list {
    list-style-type: none;
    margin-bottom: 1rem;
    margin-left: 2;
}


.transitions-container {
    margin-top: 1rem;
}

.transitions-title {
    color: black;
    font-size: 1.5rem;
    margin-top: -1rem;
}





/* Practice */



