* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.blog .blog-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 5rem;
    margin-top: 2rem;
}

.blog .blog-container .blog-info {
    margin-top: 8rem;
    margin-left: 2rem;
    width: 25rem;
    overflow: hidden;
     border-radius: .5rem;
     box-shadow: 0 .3rem .5rem rgba(0,0,0,.3);
}


.blog .blog-container .blog-description {
    margin-left: 1rem;
    font-size: 1.3rem;
    margin-top: .5rem;
    line-height: 1.5;
    width: 90%;
  }

  .blog .blog-container .blog-title {
    margin-top: 1rem;
    margin-left: 1rem;

  }


.blog .blog-container .blog-info img {
    height: 15rem;
    width: 100%;
    object-fit: cover;
}

.blog .blog-container span {
    color: grey;
    font-size: 1rem;
    display: block;
    padding: 1rem 0;
}

.blog .blog-container h3 {
    font-size: 1.5rem;
    color: black;
}

.blog .blog-container p {
    font-size: 1rem;
    color: black;
    width: 100%;
    margin-bottom: 1.5rem;
}

.blog .blog-container  .button {
  margin-bottom: 1.2rem;
  margin-left: 1rem;
  padding: 1rem 2rem;
  border-radius: .5rem;
  color: white;
  background: black;
}

.blog .blog-container .button:hover {
    background: orange;
    color: black;
    transition: 1s;
  }



  @media(max-width:768px) {
    .blog .blog-container {
        margin-left: -2rem;
        margin-top: 5rem;
        margin-bottom: -4rem;
    }

    .blog .blog-info .blog-content .blog-description {
      width: 90%;
      line-height: 1.5;
      font-size: 1.4rem;
    }
  }
