* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.react-blog .heading {
    text-decoration: underline;
    margin-top: -3rem
}

.react-blog .react-blog-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 5rem;
    margin-top: 4rem;
}

.react-blog .react-blog-container .react-blog-info {
    margin-top: 5rem;
    margin-left: 2rem;
    width: 25rem;
    overflow: hidden;
    /* border-radius: .5rem; */
    /* box-shadow: 0 .3rem .5rem rgba(0,0,0,.3); */
}


.react-blog .react-blog-container .react-blog-info img {
    height: 17rem;
    width: 100%;
    object-fit: cover;
}

.react-blog .react-blog-container span {
    color: grey;
    font-size: 1rem;
    display: block;
    padding: 1rem 0;
}

.react-blog .react-blog-container h3 {
    font-size: 1.5rem;
    color: black;
}

.react-blog .react-blog-container p {
    font-size: .5rem;
    color: black;
    width: 100%;
    margin-bottom: 1.5rem;
}

.react-blog .react-blog-container .button {
  margin-bottom: 1.2rem;
  padding: 1rem 2rem;
  border-radius: .5rem;
  color: white;
  background: black;
}

.react-blog .react-blog-container .button:hover {
    background: orange;
    color: black;
    transition: 1s;
}

.react-blog .react-blog-container .react-main-title {
    margin-top: 1rem;
}

.react-blog .react-blog-container .react-blog-description {
    font-size: 1.4rem;
    margin-top: .5rem;
}

.react-img {
    margin-left: -4rem;
}

.react-intro-title {
    color: black;
    font-size: 1.5rem;
    margin-top: 5rem;
    margin-bottom: .5rem;
}

.react-key-title {
    color: black;
    font-size: 1.5rem;
    margin-top: 2rem;
    margin-bottom: .5rem;
    text-decoration: underline;
}

.react-feature-title {
    color: black;
    font-size: 1.5rem;
    margin-top: 3rem;
    margin-bottom: .5rem;
    text-decoration: underline;
}

.react-main {
    font-size: 1.3rem;
    margin-right: 12rem;
    margin-left: 12rem;
    line-height: 1.7;
}

@media (max-width: 768px) {
    .react-main {
      width: 90%;
      margin-left: 2rem;
    }
}


.basic-jsx {
    color: black;
    font-size: 1.5rem;
    margin-bottom: .5rem;
}

.embedded-expression-title {
    color: black;
    font-size: 1.5rem;
    margin-bottom: .5rem;
}

.jsx-attr-title {
    color: black;
    font-size: 1.5rem;
    margin-bottom: .5rem;
    margin-top: 1rem;
}

.jsx-component-title {
    color: black;
    font-size: 1.5rem;
    margin-bottom: .5rem;
    margin-top: 1rem;
}

.function-components-title {
    color: black;
    font-size: 1.5rem;
    margin-bottom: .5rem;
    margin-top: 1rem;
}

.key-list-container {
    margin-top: 1.5rem;

}

.key-list {
    margin-top: 1.5rem;
    margin-left: 1rem;
}


.feature-list {
    margin-top: 1.5rem;
    margin-left: 1rem;
}




/* Component */

.components-main {
    margin-top: 3rem;
    color: black;
    font-size: 1.4rem;
    line-height: 1.5;
    margin-left: 12rem;
    margin-right: 12rem;
}

@media (max-width:768px) {
    .components-main {
        width: 90%;
        margin-left: 1.5rem;
    }
    
}

.type-title {
    color: black;
    font-size: 1.5rem;
    margin-bottom: -3rem;
}

.component-title {
    font-size: 1.5rem;
    color: black;
    margin-top: 5rem;
    margin-bottom: 1rem;   
}

.class-components-title {
    font-size: 1.5rem;
    color: black;
    margin-bottom: 1rem;
}

.resuse-title {
    font-size: 1.5rem;
    color: black;
    margin-bottom: 1rem;
}



/* Router */

.router-title {
    margin-top: 5rem;
    color: black;
    font-size: 1.4rem;
}

.router-main {
  color: black;
  margin-top: 3rem;
  font-size: 1.5rem;
  line-height: 1.5;
  margin-left: 12rem;
  margin-right: 12rem;
}

@media (max-width:768px) {
    .router-main {
        width: 90%;
        margin-left: 1.5rem;
      }
}

.route-concepts {
    margin-top: 2.5rem;
    margin-bottom: -1rem;
    color: black;
    font-size: 1.5rem;
}

.route-container {
    margin-bottom: 2rem;
}

.route-list {
    margin-top: 1rem;
}

.router-navigation-title {
    color: black;
    font-size: 1.5rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
}


.nav-route-title {
    color: black;
    font-size: 1.5rem;
}

.linkpro-list {
    margin-top: 1rem;
    margin-left: 1.5rem;
}

.nest-routes-title {
    margin-top: -1rem;
    color: black;
    font-size: 1.5rem;
    text-align: center;
}


/* Props */

.props-main {
    margin-top: 3rem;
    margin-left: 12rem;
    margin-right: 12rem;
    font-size: 1.4rem;
    line-height: 1.5;
}

@media (max-width:768px) {
    .props-main {
       width: 90%;
       margin-left: 1.5rem;
    }
}


.props-concepts-title {
    color: black;
    font-size: 1.5rem;
    margin-top: 2.5rem;
}

.react-intro {
    margin-top: 4rem;
}

.props-title {
    color: black;
    font-size: 1.5rem;
    margin-top: 1rem; 
    margin-bottom: 1.5rem;
}

.propfunc-title {
    color: black;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.props-list {
    margin-top: 1rem;
    margin-left: 1.2rem;
}


/* State */

.react-state-main {
    color: black;
    line-height: 1.5;
    font-size: 1.4rem;
    margin-left: 12rem;
    margin-right: 12rem;
    margin-top: 3rem;
}

@media (max-width:768px) {
    .react-state-main {
       width: 90%;
       margin-left: 1.5rem;
    }
}

.keypoints-react-title {
    color: black;
    font-size: 1.5rem;
    margin-top: 2.5rem;
    margin-bottom: 1rem;
}

.state-info {
    margin-top: 4rem;
    margin-bottom: 2.5rem;
}

.state-intro-title {
    color: black;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.lift-state-title {
    color: black;
    font-size: 1.5rem;
    text-align: center;
}

.state-list {
    margin-top: 1rem;
    margin-left: 1.2rem;
}


/* Hooks */

.hooks-info {
    margin-top: 3rem;
    margin-bottom: -2rem;
}


/* Api's */

.api-info {
    margin-top: 5rem;
    margin-bottom: 2.5rem;
}

.apireact-title {
    color: black;
    font-size: 1.5rem;
    margin-bottom: 1.2rem;
}

.api-list {
    margin-top: 1rem;
    margin-left: 1rem;
}

/* Operators */

.operators-title {
    margin-bottom: 2.5rem;
    color: black;
    font-size: 1.5rem;
    
}

.react-operators {
    margin-top: 5rem;
}

.ternary-react-title {
    font-size: 1.5rem;
    color: black;
    margin-bottom: 1rem;
    margin-top: 2rem;
}

.nullish-react-title {
    font-size: 1.5rem;
    color: black;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.spread-react-title {
    font-size: 1.5rem;
    color: black;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.logical-react-title {
    font-size: 1.5rem;
    color: black;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.map-react-title {
    font-size: 1.5rem;
    color: black;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.logical-react-title {
    font-size: 1.5rem;
    color: black;
    margin-bottom: 1rem;
    margin-top: 1rem;
}


.destructure-react-title {
    font-size: 1.5rem;
    color: black;
    margin-bottom: 1rem;
    margin-top: 1rem;
}


