* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.react-blog .heading {
    text-decoration: underline;
    margin-top: -3rem
}

.react-blog .react-blog-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 5rem;
    margin-top: 4rem;
}

.react-blog .react-blog-container .react-blog-info {
    margin-top: 5rem;
    margin-left: 2rem;
    width: 25rem;
    overflow: hidden;
    border-radius: .5rem;
    box-shadow: 0 .3rem .5rem rgba(0,0,0,.3);
}


.react-blog .react-blog-container .react-blog-info img {
    height: 25.5rem;
    width: 133%;
    object-fit: fill;
}

.react-blog .react-blog-container span {
    color: grey;
    font-size: 1rem;
    display: block;
    padding: 1rem 0;
}

.react-blog .react-blog-container h3 {
    font-size: 1.5rem;
    color: black;
}

.react-blog .react-blog-container p {
    font-size: .5rem;
    color: black;
    width: 100%;
    margin-bottom: 1.5rem;
}

.react-blog .react-blog-container .button {
  margin-bottom: 1.2rem;
  margin-left: 1rem;
  padding: 1rem 2rem;
  border-radius: .5rem;
  color: white;
  background: black;
}

.react-blog .react-blog-container .button:hover {
    background: orange;
    color: black;
    transition: 1s;
}

.react-blog .react-blog-container .react-main-title {
    margin-left: 1rem;
    margin-top: 1.5rem;
}

.react-blog .react-blog-container .react-blog-description {
    width: 90%;
    font-size: 1.3rem;
    margin-top: .5rem;
    margin-left: 1rem;
    line-height: 1.4;
}

.react-img {
    margin-left: -4rem;
}

.react-intro-title {
    color: black;
    font-size: 1.5rem;
    margin-top: 5rem;
    margin-bottom: .5rem;
}

.react-key-title {
    color: black;
    font-size: 1.5rem;
    margin-top: 2rem;
    margin-bottom: .5rem;
    text-decoration: underline;
}

.react-feature-title {
    color: black;
    font-size: 1.5rem;
    margin-top: 3rem;
    margin-bottom: .5rem;
    text-decoration: underline;
}





.react-main {
    font-size: 1.3rem;
    margin-right: 12rem;
    margin-left: 12rem;
    line-height: 1.7;
    margin-top: 3rem;
}

@media (max-width: 768px) {
    .react-main {
      width: 90%;
      margin-left: 2rem;
    }
}


.basic-jsx {
    color: black;
    font-size: 1.5rem;
    margin-bottom: .5rem;
}

.m-jsx-img {
    display: none;
}

@media (max-width: 768px) {
    .jsx-img {
        display: none;
    }
    .m-jsx-img {
        display: block;
        margin-left: -3.5rem;
    }
}

.m-embedjsx-img {
    display: none;
}

@media (max-width: 768px) {
    .embedjsx-img  {
        display: none;
    }
    .m-embedjsx-img {
        display: block;
        margin-left: -3.5rem;
    }
}

.embedded-expression-title {
    color: black;
    font-size: 1.5rem;
    margin-bottom: .5rem;
}

.m-jsandjsx-img {
    display: none;
}

@media (max-width: 768px) {
    .jsandjsx-img   {
        display: none;
    }
    .m-jsandjsx-img {
        display: block;
        margin-left: -3.5rem;
    }
}

.jsx-attr-title {
    color: black;
    font-size: 1.5rem;
    margin-bottom: .5rem;
    margin-top: 1rem;
}


.m-jsxattr-img {
    display: none;
}

@media (max-width: 768px) {
    .jsxattr-img   {
        display: none;
    }
    .m-jsxattr-img {
        display: block;
        margin-left: -3.5rem;
    }
}


/* Component */

.function-components-title {
    color: black;
    font-size: 1.5rem;
    margin-bottom: .5rem;
    margin-top: 1rem;
}

.m-func-components-img {
    display: none;
}

@media (max-width: 768px) {
    .func-components-img  {
        display: none;
    }

    .m-func-components-img {
        display: block;
        margin-left: -3rem;
    }
}

.m-reactfuncdynam-img {
    display: none;
}

@media (max-width: 768px) {
    .reactfuncdynam-img  {
        display: none;
    }

    .m-reactfuncdynam-img  {
        display: block;
        margin-left: -3rem;
    }
}


.m-classcomponent-img{
    display: none;
}

@media (max-width: 768px) {
    .classcomponent-img {
        display: none;
    }

    .m-classcomponent-img  {
        display: block;
        margin-left: -3rem;
    }
}


.m-reusecomp-img {
    display: none;
}

@media (max-width: 768px) {
    .reusecomp-img {
        display: none;
    }

    .m-reusecomp-img   {
        display: block;
        margin-left: -3rem;
    }
}


.jsx-component-title {
    color: black;
    font-size: 1.5rem;
    margin-bottom: .5rem;
    margin-top: 1rem;
}

.key-list-container {
    margin-top: 1.5rem;

}

.key-list {
    margin-top: 1.5rem;
    margin-left: 1rem;
}


.feature-list {
    margin-top: 1.5rem;
    margin-left: 1rem;
}




.components-main {
    margin-top: 3rem;
    color: black;
    font-size: 1.4rem;
    line-height: 1.5;
    margin-left: 12rem;
    margin-right: 12rem;
}

@media (max-width:768px) {
    .components-main {
        width: 90%;
        margin-left: 1.5rem;
    }
    
}

.type-title {
    color: black;
    font-size: 1.5rem;
    margin-bottom: -3rem;
}

.component-title {
    font-size: 1.5rem;
    color: black;
    margin-top: 5rem;
    margin-bottom: 1rem;   
}

.class-components-title {
    font-size: 1.5rem;
    color: black;
    margin-bottom: 1rem;
}

.resuse-title {
    font-size: 1.5rem;
    color: black;
    margin-bottom: 1rem;
}



/* Router */

.router-title {
    margin-top: 5rem;
    color: black;
    font-size: 1.4rem;
}

.router-main {
  color: black;
  margin-top: 3rem;
  font-size: 1.4rem;
  line-height: 1.5;
  margin-left: 12rem;
  margin-right: 12rem;
}

@media (max-width:768px) {
    .router-main {
        width: 90%;
        margin-left: 1.5rem;
      }
}

.route-concepts {
    margin-top: 2.5rem;
    margin-bottom: -1rem;
    color: black;
    font-size: 1.5rem;
}

.route-container {
    margin-bottom: 2rem;
}

.route-list {
    margin-top: 1rem;
}


.m-router-img {
    display: none;
}

@media (max-width:768px) {
    .router-img {
        display: none;
    }
    .m-router-img {
        display: block;
        margin-left: -1.5rem;
    }
}

.m-routerbasic-img {
    display: none;
}

@media (max-width:768px) {
    .routerbasic-img {
        display: none;
    }
    .m-routerbasic-img {
        display: block;
        margin-left: -1.5rem;
    }
}

.m-navrouter-img {
    display: none;
}

@media (max-width:768px) {
    .navrouter-img {
        display: none;
    }
    .m-navrouter-img {
        display: block;
        margin-left: -1.3rem;
    }
}


.m-actionrouter-img {
    display: none;
}

@media (max-width:768px) {
    .actionrouter-img {
        display: none;
    }
    .m-actionrouter-img {
        display: block;
        margin-left: -1.4rem;
    }
}


.m-linkrouter-img {
    display: none;
}

@media (max-width:768px) {
    .linkrouter-img {
        display: none;
    }
    .m-linkrouter-img {
        display: block;
        margin-left: -2rem;
    }
}


.m-nestrouter-img {
    display: none;
}

@media (max-width:768px) {
    .nestrouter-img {
        display: none;
    }
    .m-nestrouter-img {
        display: block;
        margin-left: -2rem;
    }
}







.router-navigation-title {
    color: black;
    font-size: 1.5rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
}


.nav-route-title {
    color: black;
    font-size: 1.5rem;
}

.linkpro-list {
    margin-top: 1rem;
    margin-left: 1.5rem;
}

.nest-routes-title {
    margin-top: .5rem;
    margin-bottom: .5rem;
    color: black;
    font-size: 1.5rem;
    text-align: center;
}

.nestedroutes-main {
    margin-top: 2rem;
}


/* Props */

.props-main {
    margin-top: 3rem;
    margin-left: 12rem;
    margin-right: 12rem;
    font-size: 1.4rem;
    line-height: 1.5;
}

@media (max-width:768px) {
    .props-main {
       width: 90%;
       margin-left: 1.5rem;
    }
}


.props-concepts-title {
    color: black;
    font-size: 1.5rem;
    margin-top: 2.5rem;
}

.props-list {
    margin-top: 1rem;
    margin-left: 1.2rem;
}


.react-intro {
    margin-top: 4rem;
}

.props-title {
    color: black;
    font-size: 1.5rem;
    margin-top: 1rem; 
    margin-bottom: 1.5rem;
}


.m-propsintro-img {
    display: none;
}

@media (max-width:768px) {
    .propsintro-img {
        display: none;
    }
    .m-propsintro-img {
        display: block;
        margin-left: -2rem;
    }
}

.m-propsfunction-img {
    display: none;
}

@media (max-width:768px) {
    .propsfunction-img {
        display: none;
    }
    .m-propsfunction-img {
        display: block;
        margin-left: -2rem;
    }
}





.propfunc-title {
    color: black;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}



/* State */

.react-state-main {
    color: black;
    line-height: 1.5;
    font-size: 1.4rem;
    margin-left: 12rem;
    margin-right: 12rem;
    margin-top: 3rem;
}

@media (max-width:768px) {
    .react-state-main {
       width: 90%;
       margin-left: 1.5rem;
    }
}

.keypoints-react-title {
    color: black;
    font-size: 1.5rem;
    margin-top: 2.5rem;
    margin-bottom: 1rem;
}

.state-info {
    margin-top: 4rem;
    margin-bottom: 2.5rem;
}

.state-list {
    margin-top: 1rem;
    margin-left: 1.2rem;
}

.state-intro-title {
    color: black;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.m-createstate-img {
    display: none;
}

@media (max-width:768px) {
    .createstate-img {
        display: none;
    }
    .m-createstate-img {
        display: block;
        margin-left: -2rem;
    }
}

.m-updatestate-img {
    display: none;
}

@media (max-width:768px) {
    .updatestate-img {
        display: none;
    }
    .m-updatestate-img {
        display: block;
        margin-left: -2rem;
    }
}


.m-prevstate-img {
    display: none;
}

@media (max-width:768px) {
    .prevstate-img {
        display: none;
    }
    .m-prevstate-img {
        display: block;
        margin-left: -2rem;
    }
}

.lift-state-title {
    color: black;
    font-size: 1.5rem;
    text-align: center;
}

.liftstate-main {
    margin-top: 2rem;
}


.m-liftstate-img {
    display: none;
}

@media (max-width:768px) {
    .liftstate-img {
        display: none;
    }
    .m-liftstate-img {
        display: block;
        margin-left: -2rem;
    }
}


.m-statelift-img {
    display: none;
}

@media (max-width:768px) {
    .statelift-img {
        display: none;
    }
    .m-statelift-img {
        display: block;
        margin-left: -2rem;
    }
}


/* Hooks */

.hooks-info {
    margin-top: 3rem;
    margin-bottom: -2rem;
}

.m-statehook-img {
    display: none;
}

@media (max-width:768px) {
    .statehook-img {
        display: none;
    }
    .m-statehook-img {
        display: block;
        margin-left: -2rem;
    }
}

.m-useEffecthook-img {
    display: none;
}

@media (max-width:768px) {
    .useEffecthook-img {
        display: none;
    }
    .m-useEffecthook-img {
        display: block;
        margin-left: -2rem;
    }
}


.m-context-img {
    display: none;
}

@media (max-width:768px) {
    .context-img {
        display: none;
    }
    .m-context-img {
        display: block;
        margin-left: -2rem;
    }
}

.m-useReducer-img {
    display: none;
}

@media (max-width:768px) {
    .useReducer-img {
        display: none;
    }
    .m-useReducer-img {
        display: block;
        margin-left: -2rem;
    }
}


.m-useRef-img {
    display: none;
}

@media (max-width:768px) {
    .useRef-img {
        display: none;
    }
    .m-useRef-img {
        display: block;
        margin-left: -2rem;
    }
}

.m-hookcustom-img {
    display: none;
}

@media (max-width:768px) {
    .hookcustom-img {
        display: none;
    }
    .m-hookcustom-img {
        display: block;
        margin-left: -2rem;
    }
}




/* Api's */

.api-info {
    margin-top: 5rem;
    margin-bottom: 2.5rem;
}

.apireact-title {
    color: black;
    font-size: 1.5rem;
    margin-bottom: 1.2rem;
}

.api-list {
    margin-top: 1rem;
    margin-left: 1rem;
}


.m-apisreact-img {
    display: none;
}

@media (max-width:768px) {
    .apisreact-img {
        display: none;
    }
    .m-apisreact-img {
        display: block;
        margin-left: -2rem;
    }
}


/* Operators */

.react-operators {
    margin-top: 5rem;
}


.operators-title {
    margin-bottom: 2.5rem;
    color: black;
    font-size: 1.5rem;
    
}

.ternary-react-title {
    font-size: 1.5rem;
    color: black;
    margin-bottom: 1rem;
    margin-top: 2rem;
}

.m-reactternary-img {
    display: none;
}

@media (max-width:768px) {
    .reactternary-img {
        display: none;
    }

    .m-reactternary-img {
        display: block;
        margin-left: -2rem;
    }
}

.m-externary-img{
    display: none;
}

@media (max-width:768px) {
    .externary-img {
        display: none;
    }

    .m-externary-img{
        display: block;
        margin-left: -2rem;
    }
}


.nullish-react-title {
    font-size: 1.5rem;
    color: black;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.m-nullish-img {
    display: none;
}

@media (max-width:768px) {
    .nullish-img {
        display: none;
    }

    .m-nullish-img{
        display: block;
        margin-left: -2rem;
    }
}


.logical-react-title {
    font-size: 1.5rem;
    color: black;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.m-reactlogical-img {
    display: none;
}

@media (max-width:768px) {
    .reactlogical-img {
        display: none;
    }

    .m-reactlogical-img{
        display: block;
        margin-left: -2rem;
    }
}



.spread-react-title {
    font-size: 1.5rem;
    color: black;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.m-reactspread-img {
    display: none;
}

@media (max-width:768px) {
    .reactspread-img {
        display: none;
    }

    .m-reactspread-img{
        display: block;
        margin-left: -2rem;
    }
}


.destructure-react-title {
    font-size: 1.5rem;
    color: black;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.m-destruct-img {
    display: none;
}

@media (max-width:768px) {
    .destruct-img {
        display: none;
    }

    .m-destruct-img{
        display: block;
        margin-left: -2rem;
    }
}



.map-react-title {
    font-size: 1.5rem;
    color: black;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.m-mapfunc-img {
    display: none;
}

@media (max-width:768px) {
    .mapfunc-img {
        display: none;
    }

    .m-mapfunc-img{
        display: block;
        margin-left: -2rem;
    }
}





