* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.blog-card .blog-card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 5rem;
}

.blog-card .blog-card-container .blog-card-content .blog-card-title {
    margin-left: 1rem;
    padding-top: 2rem;
    padding-bottom: .5rem;
}

.link-blog {
    margin-top: 3rem;
}

.blog-card .blog-card-container .blog-card-info {
    margin-left: 2rem;
    width: 25rem;
    overflow: hidden;
    border-radius: .5rem;
    box-shadow: 0 .3rem .5rem rgba(0,0,0,.3);
}

.blog-card .blog-card-container .blog-card-info img {
    height: 15rem;
    width: 100%;
    object-fit: cover;
    margin-bottom: -1rem;
}

.blog-card .blog-card-container .blog-card-description {
    width: 90%;
    margin-left: 1rem;
    line-height: 1.5;
    font-size: 1.3rem;
}

  .blog-card .blog-card-container span {
    color: grey;
    font-size: 1rem;
    display: block;
    padding: 1rem 0;
}

.blog-card .blog-card-container h3 {
    font-size: 1.5rem;
    color: black;
}

.blog-card .blog-card-container p {
    font-size: 1rem;
    color: black;
    width: 100%;
    margin-bottom: 1.5rem;
}

.blog-card .blog-card-container .button {
  margin-bottom: 1.2rem;
  margin-left: 1rem;
  padding: 1rem 2rem;
  border-radius: .5rem;
  color: white;
  background: black;
}

.blog-card .blog-card-container .button:hover {
    background: orange;
    color: black;
    transition: 1s;
}

.blog-card .blog-card-container .blog-card-info .blog-card-content {
	transition-duration: .5s;
}

.blog-card .blog-card-container .blog-card-info .blog-card-content:hover {
    background: linear-gradient(to top, #c4c5c7 0%, #dcdddf 52%, #ebebeb 100%); 
    width: 100%;
    height: 100%;
}

@media(max-width:768px) {
    .blog-card .blog-card-container .blog-card-info {
        margin-left: 4.5rem;
        margin-bottom: 2rem;
    }
}


/* Why is the dom taught last  */

.blog-card .blog-card-container .blog-card-dom-info {
    margin-left: 2rem;
    /* margin-bottom: 2rem; */
    margin-top: 5rem;
    width: 25rem;
    overflow: hidden;
    border-radius: .5rem;
    box-shadow: 0 .3rem .5rem rgba(0,0,0,.3);
}

.blog-card .blog-card-container .blog-card-dom-info img {
    height: 15rem;
    width: 100%;
    margin-bottom: -1rem;
    object-fit: cover;
}

.blog-card .blog-card-container .blog-card-dom-info .blog-card-content {
	transition: 1s;
}

.blog-card .blog-card-container .blog-card-dom-info .blog-card-content:hover {
    background: linear-gradient(to top, #c4c5c7 0%, #dcdddf 52%, #ebebeb 100%); 
    width: 100%;
    height: 100%;
}


/* React  */

.blog-card .blog-card-container .react-blog-card-info {
    margin-top: 5rem;
    margin-left: 2rem;
    width: 25rem;
    overflow: hidden;
    border-radius: .5rem;
    box-shadow: 0 .3rem .5rem rgba(0,0,0,.3);
}


.blog-card-container .react-blog-card-info img {
    height: 15rem;
    width: 100%;
    object-fit: fill;
}

.blog-card .blog-card-container .react-blog-card-content {
    margin-top: 1rem;
}

.blog-card .blog-card-container .react-blog-card-content .react-blog-card-title {
    margin-left: 1rem;
    margin-top: -2rem;
    margin-bottom: .5rem;
    padding-top: 2rem;
}

.blog-card .blog-card-container .react-blog-card-info .react-blog-card-content {
	transition-duration: .5s;
}

.blog-card .blog-card-container .react-blog-card-info .react-blog-card-content:hover {
    background: linear-gradient(to top, #c4c5c7 0%, #dcdddf 52%, #ebebeb 100%); 
    height: 120%;
}


/* CSS */

  .blog-card .blog-card-container .css-blog-card-content .css-blog-card-title {
    margin-left: 1rem;
    margin-top: -2rem;
    margin-bottom: .5rem;
    padding-top: 2rem;
}
  
  .blog-card .blog-card-container .css-blog-card-info {
    margin-top: 5rem;
    margin-left: 2rem;
    width: 25rem;
    overflow: hidden;
    border-radius: .5rem;
    box-shadow: 0 .3rem .5rem rgba(0,0,0,.3);
}

.blog-card-container .css-blog-card-info img {
    height: 15rem;
    width: 100%;
    object-fit: fill;

}

.blog-card .blog-card-container .css-blog-card-content {
    margin-top: 1rem;
}

.blog-card .blog-card-container .css-blog-card-info .css-blog-card-content {
	transition-duration: .5s;
}

.blog-card .blog-card-container .css-blog-card-info .css-blog-card-content:hover {
    background: linear-gradient(to top, #c4c5c7 0%, #dcdddf 52%, #ebebeb 100%); 
    height: 120%;
}

/* JS */

.blog-card .blog-card-container .js-blog-card-content .js-blog-card-title {
    margin-left: 1rem;
    margin-top: -2rem;
    margin-bottom: .5rem;
    padding-top: 3rem; 
}

.blog-card .blog-card-container .js-blog-card-info {
    margin-top: 5rem;
    margin-left: 2rem;
    width: 25rem;
    overflow: hidden;
    border-radius: .5rem;
    box-shadow: 0 .3rem .5rem rgba(0,0,0,.3);
}


.blog-card-container .js-blog-card-info img {
    height: 15rem;
    width: 105%;
    object-fit: fill;
    margin-left: -.5rem;
}

.blog-card .blog-card-container .js-blog-card-info .js-blog-card-content {
	transition-duration: .5s;

}

.blog-card .blog-card-container .js-blog-card-info .js-blog-card-content:hover {
    background: linear-gradient(to top, #c4c5c7 0%, #dcdddf 52%, #ebebeb 100%); 
    height: 120%;
}


/* Master Web Development */

.master-web-title {
    color: black;
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 3rem;
    margin-top: 7rem;
}

.masterweb-main {
    margin-left: 12rem;
    margin-right: 12rem;
    font-size: 1.4rem;
    line-height: 1.5;
}

.keywebskills-title {
    color: black;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.webskills-list {
    margin-bottom: 1rem;
    margin-left: 1.5rem;
}

.webskills-conclusion {
    margin-bottom: 3rem;
    margin-top: 1.5rem;
}

.webtips-main {
    margin-left: 12rem;
    margin-right: 12rem;
    font-size: 1.4rem;
    line-height: 1.5;
}

.webtips-title {
    color: black;
    font-size: 1.5rem;
    margin-top: .5rem;
    margin-bottom: .5rem;
    text-align: center;
}

.webtips-container {
    margin-top: 2rem;
}

.webtips-list {
    color: black;
    font-size: 1.5rem;
    margin-top: 2rem;
}

@media (max-width:768px) {
    .masterweb-main {
        width: 90%;
        line-height: 1.5;
        margin-left: 2rem;
    }

    .master-web-title {
        margin-top: 12rem;
    }

    .webskills-container {
        width: 90%;
        line-height: 1.5;
        margin-left: 2rem;
    }

    .webtips-main  {
        width: 90%;
        font-size: 1.4rem;
        line-height: 1.5;
        margin-left: 2rem;
    }

    .webtips-list {
    
    }
    
}


/* Certificate */

.meta-main {
    font-size: 1.4rem;
    margin-left: 12rem;
    margin-right: 12rem;
}

.certificate-web-title {
    margin-top: 12rem;
    margin-bottom: 2rem;
    color: black;
    font-size: 1.5rem;
    text-align: center;
}

.meta-container {
    margin-top: 1.5rem;
}

.meta-list {
    margin-top: 1rem;
    margin-left: 1.5rem;
}

.meta-structure-title {
    font-size: 1.5rem;
    color: black;
    margin-top: 2rem;
    margin-bottom: .5rem;
}

.meta-structure{
    font-size: 1.4rem;
    color: black;
    line-height: 1.5;
}

@media(max-width:768px) {
    .meta-main {
        width: 90%;
        margin-left: 2rem;
        line-height: 1.5;
    }
}

/* DOM */

.domlearn-main {
    font-size: 1.4rem;
    margin-right: 12rem;
    margin-left: 12rem;
    line-height: 1.5;
}

@media (max-width:768px) {
    .domlearn-main {
        width: 90%;
        font-size: 1.4rem;
        line-height: 1.5;
        margin-left: 2rem;
    }
}


/* Tech Marketing */

.tech-market-title {
    font-size: 1.5rem;
    color: black;
    text-align: center;
    margin-top: 7rem;
    margin-bottom: 3rem;
}

.tech-market-main {
    font-size: 1.4rem;
    color: black;
    line-height: 1.5;
    margin-left: 12rem;
    margin-right: 12rem;
}

/* .blog .heading {
    text-decoration: underline;
    margin-top: -3rem
} */


/* .blog .blog-container .certi-button {
    margin-top: 4rem;
    margin-bottom: 10%;
    margin-left: 1rem;
    padding: 1rem 2rem;
    border-radius: .5rem;
    color: white;
    background: black;
}

.blog .blog-container .certi-button:hover {
    background: orange;
    color: black;
    transition: 1s;
} */